@import '@/styles/main.scss';

// .modalOverlayOfNotification {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: $black-transparency-05;
//     @include displayDFJA(flex, null, center, center);
//     z-index: 1000;
// }

// .modalContentOfNotification {
//     @include displayDFJA(flex, column, null, null);
//     border: 2px solid $main-colour;
//     border-radius: 8px;
//     background-color: $gray;
//     text-align: center;
//     width: auto;
//     max-height: 80vh;
//     overflow-y: auto;
//     gap: 20px;
//     padding: 20px;

//     @include respond-to-md {
//         width: 90%;
//         max-height: 70vh;
//     }
// }

.navbar {
    @include displayDFJA(flex, null, space-between, center);
    background-color: $gray;
    color: $font-light-colour;
    padding: 10px;
}

.leftSection,
.rightSection {
    @include displayDFJA(flex, null, null, center);
}

.leftSection .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: $font-light-colour;
    letter-spacing: -25%;
    cursor: pointer;
}

.logo::first-letter {
    color: $main-colour;
}

.notificationIconWrapper {
    position: relative;
}

.icon {
    font-size: 28px;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.hidden {
    display: none;
}

.rightSection p,
.leftSection p {
    margin: 0 10px;
    @include displayDFJA(flex, null, null, center);
}

.rightSection p {
    margin-left: 10px;
}

.leftSection p {
    margin-right: 10px;
}

.rotate {
    transform: rotate(180deg);
}

.unreadCount {
    position: absolute;
    top: -10px;
    right: 5px;
    background-color: $main-colour;
    color: $font-dark-colour;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
}

.userPhotoParagraph {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}