@import '@/styles/main.scss';

.employeesFilerContainerMain {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  @include displayDFJA(flex, column, space-between, center);
  padding: 10px 20px;
  background-color: $white;
  border: 1px solid $main-colour;
  border-radius: 10px;
  box-shadow: 0px 2px 5px $black-transparency-01;
}

.sortContainer,
.languagesContainer,
.positionContainer {
  margin: 0 0 20px 0;
  width: 100%;
}

.searchInputContainer {
  // display: flex;
  @include displayDFJA(flex, null, null, center);
  position: relative;
  // align-items: center;
  margin: 0 0 20px 0;
  background-color: $main-colour;
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px;
}

.searchIcon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
}

.searchInput {
  border-radius: 8px;
  border: none;
  height: 40px;
  font-size: 14px;
  text-align: right;
  padding-right: 10px;

  &::placeholder {
    opacity: 1;
  }

  // &:focus {
  //   outline: none;
  //   border-color: $main-colour-hover;
  //   box-shadow: 0 0 5px $black-transparency-01-orange;
  // }
}
.positionTitleContainer,
.sortTitleContainer,
.languagesTitleContainer {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  @include displayDFJA(flex, row, space-between, center);
  cursor: pointer;
  padding: 10px;
  background-color: $main-colour;
  border-radius: 8px;
  width: 100%;
  height: 60px;

  &:hover {
    background-color: $main-colour-hover;
  }

  .sortIcon,
  .languageIcon,
  .positionIcon {
    margin: 0 20px;
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
    font-size: 16px;
  }

  .iconRotated {
    transform: rotate(-90deg);
  }

  .positionText,
  .sortText,
  .languagesText {
    margin: 0 20px;
    font-size: 16px;
    font-weight: bold;
    color: $font-dark-colour;
    text-align: center;
  }

}

.listContainer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.listContainer.open {
  height: auto;
}

.autoHeight {
  height: auto;
}

.ascCheckboxContainer,
.descCheckboxContainer,
.languageCheckboxContainer,
.positionCheckboxContainer {
  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // justify-content: space-between;
  @include displayDFJA(flex, row, space-between, center);
  text-align: center;
  background-color: $white-4;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
}

.ascCheckbox,
.descCheckbox,
.languageCheckbox,
.positionCheckbox {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  accent-color: $main-colour;
  cursor: pointer;
}

.ascCheckboxLabel,
.descCheckboxLabel,
.positionCheckboxLabel {
  font-size: 14px;
  color: $font-dark-colour;
}

.languageFlag {
  margin-left: auto;
}

.buttonContainer {
  text-align: center;
  width: 100%;

  .clearButtonIcon {
    margin: 0 10px 0 0;
  }

  .clearButton {
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    // justify-content: space-between;
    @include displayDFJA(flex, row, space-between, center);
    padding: 10px 15px;
    background-color: $main-colour;
    color: $font-dark-colour;
    border: 1px solid $main-colour;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 100%;
    height: 60px;

    :hover {
      background-color: $main-colour-hover;
    }
  }
}