@import '@/styles/main.scss';

.roleContainerMain {
    @include displayDFJAG(flex, column, null, null, 15px);
    background-color: $gray;
    color: $font-light-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.showRoleMapConteiner {
    @include gridQG(4, 10px);
    grid-template-rows: minmax(auto, 1fr);
    grid-auto-rows: 1fr;

    .showRoleConteinerMain {
        @include displayDFJAG(flex, column, null, center, 10px);
        height: 100%;
        padding: 10px;
        background-color: $white-3;
        border-radius: 5px;

        .showRoleConteiner {
            @include displayDFJAG(flex, null, space-between, center, 10px);
            height: 100%;

            .roleInfoContainer {
                @include displayDFJAG(flex, column, null, null, 5px);
            }

            .roleNameParagraph {
                @include displayDFJAG(flex, null, null, left);
                margin: 0;
                color: $font-dark-colour;
                font-weight: bold;
                width: 10vw;
            }

            .editAndRemoveButtonContainer {
                @include displayDFJAG(flex, row, null, null, 10px);
            }
        }
    }
}

@include respond-to-lg {
    .showRoleMapConteiner {
        @include gridQG(3, 10px);
    }
}

@include respond-to-md {
    .showRoleMapConteiner {
        @include gridQG(2, 10px);
    }
}

@include respond-to-sm {
    .showRoleMapConteiner {
        @include gridQG(1, 10px);
    }
}

.removeButton,
.editButton,
.yesButton,
.noButton {
    background-color: $main-colour;
    border: 2px solid $font-dark-colour;
    color: $font-dark-colour;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $font-dark-colour;
        color: $main-colour;
    }

}

.colorPicker {
    border: 2px solid $main-colour;
    border-radius: 5px;
    background-color: $main-colour;
    height: auto;
    width: 35px;
    cursor: pointer;
}

.yesButton:hover {
    background-color: $green-dark;
    color: $font-dark-colour;
}

.noButton:hover {
    background-color: $red;
    color: $font-dark-colour;
}

.addContainer {
    @include displayDFJAG(flex, row, null, stretch, 10px);
    height: 100%;

    .colorPicker {
        width: 40px;
    }

    .addButton {
        background-color: $main-colour;
        border: none;
        color: $font-dark-colour;
        padding: 10px;
        width: 5vh;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $main-colour-hover;
        }
    }
}

.formInput {
    @include appearance-none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid $main-colour;
    padding: 10px 5vh 10px 10px;
    color: $font-dark-colour;
    transition: all 0.3s ease;

    &:hover {
        border: 2px solid $main-colour;
        outline: none;
        background-color: lighten($white-4, 5%);
    }

    &::placeholder {
        margin: 0 0 0 10px;
        color: lighten($font-dark-colour, 30%);
    }

    @include respond-to-md {
        height: 4vh;
        padding: 8px 2vh 8px 8px;
    }
}

.errorMessage {
    @include displayDFJAG(flex, null, null, center);
    color: $red;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: right;
    flex-shrink: 0;
}

.errorInput {
    border-color: $red;
    background-color: $red-powder;
}