@import '@/styles/main.scss';

.roleContainerMain {
    @include displayDFJAG(flex, column, null, null, 15px);
    background-color: $gray;
    color: $font-light-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.showRoleMapConteiner {
    @include gridQG(4, 10px);
    grid-template-rows: minmax(auto, 1fr);
    grid-auto-rows: 1fr;
}

@include respond-to-lg {
    .showRoleMapConteiner {
        @include gridQG(3, 10px);
    }
}

@include respond-to-md {
    .showRoleMapConteiner {
        @include gridQG(2, 10px);
    }
}

@include respond-to-sm {
    .showRoleMapConteiner {
        @include gridQG(1, 10px);
    }
}