@import '@/styles/main.scss';

/**
  * The reference md(only number) is still in index.tsx(21 line) because it changes the full name of the day to the abbreviation. 
  */

.calendarHeaderContainerMain {
  @include displayDFJAG(flex, null, null, center, 30px);
  width: 100%;

  @include respond-to-md {
    @include displayDFJAG(flex, column, null, null, 15px);
  }

  .searchContainer {
    @include displayDFJAG(flex, null, null, center);
    position: relative;
    flex:1;
    background-color: $main-colour;
    border-radius: 8px;
    width: 100%;
    padding: 10px 15px;
    max-width: 259px;
  
    .searchIcon {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      height: 18px;
      width: 18px;
    }
  
    .searchInput {
      border-radius: 8px;
      border: none;
      height: 40px;
      font-size: 14px;
      text-align: right;
      padding-right: 10px;
      width: 100%;
  
      &::placeholder {
        opacity: 1;
      }
    }
  }

  .calendarDayContainer {
    flex: 4;
    @include displayDFJAG(flex, null, null, null, 15px);
    margin: 0;

    @include respond-to-md {
      @include displayDFJAG(flex, row, null, null, 10px);
      width: 100%;
    }

    .dayContainer {
      flex: 1;
      text-align: center;
      @include displayDFJAG(flex, column, center, center);
      width: 100%;
      height: 8vh;
      color: $font-dark-colour;
      background-color: $main-colour;
      border-radius: 10px;
      border: 2px solid $font-dark-colour;
      box-shadow: 0px 2px 5px $black-transparency-01;

      .dayName {
        font-size: 16px;
        font-weight: bold;
        text-transform: capitalize;
      }

      .dayDate {
        font-size: 14px;
      }

      @include respond-to-sm {
        font-size: 12px;
      }
    }

    .today {
      background-color: $main-colour-hover;
      border: 2px solid $font-dark-colour;
      color: $font-dark-colour;
      box-shadow: 0px 4px 8px $black-transparency-01;
      border-radius: 12px;
      font-weight: bold;
      transform: scale(1.1);
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  }
}