$popup-bg-colour: #4F4E4E;
$popup-bg-colour-dark: #000000;
$popup-bg-colour-light: #FFFFFF;
$popup-font-colour: #FFFFFF;
$popup-font-colour-dark: #000000;
$popup-highlight-colour: #FFCF70;
$popup-highlight-colour-hover: #FFBE4D;
$popup-no-button-colour: #dc3545;
$popup-yes-button-colour: #008000;

.roleContainerMain {
    background-color: $popup-bg-colour;
    color: $popup-font-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}


.showRoleMapConteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    gap: 10px;

    .showRoleConteiner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: fit-content;
        padding: 10px;
        background-color: $popup-highlight-colour;
        border-radius: 5px;
        gap: 10px;

        .roleNameParagraph {
            display: flex;
            align-items: left;
            margin: 0;
            color: $popup-font-colour-dark;
            font-weight: bold;
            width: 10vw;
        }

        .roleNameInput{
            padding: 5px;
            border: 2px solid $popup-bg-colour-dark;
            border-radius: 5px;
            background-color: $popup-bg-colour-light;
            color: $popup-font-colour-dark;
            outline: none;
            width: 10vw;
        }
        .editAndRemoveButtonContainer{
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .showRoleMapConteiner {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 800px) {
    .showRoleMapConteiner {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .showRoleMapConteiner {
        grid-template-columns: 1fr;

    }
}


.removeButton, .editButton, .yesButton, .noButton {
    background-color: transparent;
    border: 2px solid $popup-font-colour-dark;
    color: $popup-font-colour-dark;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $popup-font-colour-dark;
        color: $popup-highlight-colour;
    }

}

.colorPicker{
    border: 2px solid $popup-bg-colour-dark;
    border-radius: 5px;
    background-color: $popup-highlight-colour;
    height: auto;
    width: 35px;
    cursor: pointer;
}

.yesButton:hover{
    background-color: $popup-yes-button-colour;
    color: $popup-font-colour-dark;
}

.noButton:hover{
    background-color: $popup-no-button-colour;
    color: $popup-font-colour-dark;
}

.addContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0 0 0;

    .colorPicker{
        height: auto;
        width: 40px;
    }

    .addInput {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid $popup-highlight-colour;
        border-radius: 5px;
        background-color: $popup-bg-colour-light;
        color: $popup-font-colour-dark;
        outline: none;

        &::placeholder {
            color: $popup-font-colour-dark;
        }
    }

    .addButton {
        background-color: $popup-highlight-colour;
        border: none;
        color: $popup-font-colour-dark;
        padding: 10px;
        width: 5vh;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $popup-highlight-colour-hover;
        }
    }
}