@import '@/styles/main.scss';

.absenceEmployerContainerMain {
    @include displayDFJAG(flex, column, center, center);
    width: 100%;

    .absenceEmployerContainer {
        @include displayDFJAG(flex, column, null, null, 20px);
        width: 90%;
        margin: 20px 0;
    }
}

.buttonContainer {
    @include displayDFJAG(flex, null, space-between, null);
    margin: 0;

    .roleSelect {
        @include appearance-none;
        width: 100%;
        height: 5vh;
        border-radius: 5px;
        border: none;
        border-bottom: 2px solid $main-colour;
        padding: 10px 5vh 10px 10px;
        color: $font-dark-colour;
        box-shadow: inset 0 2px 4px $black-transparency-01;
        transition: all 0.3s ease;

        background-image:
            linear-gradient(45deg, transparent 50%, $font-dark-colour 50%),
            linear-gradient(135deg, $font-dark-colour 50%, transparent 50%);
        background-position:
            calc(100% - 15px) calc(1em + 5px),
            calc(100% - 6px) calc(1em + 5px);
        background-size:
            9px 9px,
            9px 9px;
        background-repeat: no-repeat;
        color: $font-dark-colour;
        cursor: pointer;

        &:hover {
            border: 2px solid $main-colour;
            outline: none;
            background-color: lighten($white-4, 5%);
        }

        &::placeholder {
            margin: 0 0 0 10px;
            color: lighten($font-dark-colour, 30%);
        }
    }

    .viewContainer {
        @include displayDFJAG(flex, null, null, null, 15px);
        margin: 0 10px;

        .listViewButton,
        .tilesViewButton {
            @include displayDFJAG(inline-flex, null, center, center);
            background: none;
            border: none;
            padding: 0;
            font-size: 35px;
            cursor: pointer;

        }

        .active {
            @include displayDFJAG(inline-flex, null, center, center);
            background: none;
            border: none;
            padding: 0;
            font-size: 35px;
            cursor: pointer;
            color: $main-colour;
        }
    }
}

.selectContainer {
    @include displayDFJAG(flex, row, null, null, 20px);
}

.searchInput {
    width: 15rem;
    height: 5vh;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid $main-colour;
    padding: 10px 5vh 10px 10px;
    color: $font-dark-colour;
    box-shadow: inset 0 2px 4px $black-transparency-01;
    transition: all 0.3s ease;
    padding-right: 30px;

    &:hover {
        border: 2px solid $main-colour;
        outline: none;
        background-color: lighten($white-4, 5%);
    }
}

.cardsViewContainerTiles {
    @include gridQG(3, 20px);
    @include respond-to-md {
        @include gridQG(2, 20px);
    }
}

.cardsViewContainerList {
    @include gridQG(1, 20px);
}

.searchContainer{
    position: relative;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
  .noDataCard{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
  }