@import '@/styles/main.scss';

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.actionStatusPopUpContainer {
    @include displayDFJAG(flex, null, center, center);
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 1000;

    animation: slideInRight 0.7s ease-out forwards;

    &.fadeOut {
        animation: slideOutRight 0.5s ease-out forwards;
    }

    &.success {
        border-left: 5px solid $green;
        background-color: $green-hover;
        color: $font-light-colour;
    }

    &.error {
        border-left: 5px solid $red-dark;
        background-color: $red;
        color: $font-light-colour;
    }

    .content {
        @include displayDFJAG(flex, row, space-evenly, center, 20px);

        .icon {
            font-size: 20px;
            color: inherit;
        }

        .message {
            margin: 5px 0 0;
            font-size: 14px;
            color: $font-light-colour;
        }
    }

    &.fadeOut {
        animation: slideOutRight 0.5s ease-out forwards;
    }
}