@import '@/styles/main.scss';

.mainContainer {
    margin: 0 auto;
    padding-top: 10%;
    @include displayDFJA(flex, column, center, center);
    width: 80%;

    .firstRow {
        @include displayDFJA(flex, null, center, center);
        width: 100%;
        margin-bottom: 10px;

        &>div {
            @include displayDFJA(flex, null, center, center);
            width: 100%;
            background-color: $main-colour;
            color: $font-dark-colour;
            font-weight: bold;
            border: 2px solid $black-transparency-05;
            border-radius: 8px;
            letter-spacing: 1.5px;
            font-size: 18px;
            padding: 15px;
            cursor: pointer;

            .icon {
                margin-right: 8px;
                height: 20px;
                width: 20px;
            }

            .paragraphName {
                margin: 0;
            }
        }
    }


    .secondRow {
        @include gridQG(2, 10px);
        width: 100%;

        &>div {
            @include displayDFJA(flex, null, center, center);
            background-color: $main-colour;
            color: $font-dark-colour;
            font-weight: bold;
            border: 2px solid $black-transparency-05;
            border-radius: 8px;
            letter-spacing: 1.5px;
            font-size: 18px;
            padding: 15px;
            cursor: pointer;

            .icon {
                margin-right: 8px;
                height: 20px;
                width: 20px;
            }

            .paragraphName {
                margin: 0;
            }
        }
    }
}