@import '@/styles/main.scss';

.mainContainer {
    @include displayDFJAG(flex, column, center, center, 10px);
    width: 80%;
    height: 80vh; 
    margin: 0 auto;

    .firstRow {
        @include displayDFJAG(flex, null, center, center);
        width: 100%;
    }

    .secondRow {
        @include gridQG(2, 10px);
        width: 100%;
    }
}