// .scheduleContainerMain{
//     display: flex;
//     flex-direction: column;

//     .firstRowContainer{
//         display: flex;
//         flex-direction: row;
//     }

//     .secoundRowContainer{
//         display: flex;
//         flex-direction: row;
//     }

// }

.input{
    width: 90%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px 0;
}