$bg-color: #4F4E4E;
$font-color: #FFFFFF;
$highlight-color: #FFCF70;
$padding: 10px;
$logo-size: 24px;

.sidebarContainer {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: #fff;
    color: #333;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
}

.open {
    right: 0;
}

.active {
    color: $highlight-color;
    font-weight: bold;
    border-bottom: 2px solid $highlight-color;
}

.header {
    background-color: $bg-color;
    color: $highlight-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.headerIcon {
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
    margin-top:20px;
}

.content div:last-of-type{
    margin-top: 380px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.item .icon {
    margin-right: 10px;
}

.footer {
    padding: 20px;
    background-color: $bg-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}

.logout {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.logout .icon {
    margin-right: 10px;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.languages .flags {
    display: flex;
    margin-top: 10px;
}

.languages .flags img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.para {
    margin-left: 5px;
}

.logo {
    font-size: $logo-size;
    font-weight: bold;
    margin-left: 10px;
    color: white;
    letter-spacing: -25%;
}

.logo::first-letter {
    color: $highlight-color;
}