@import '@/styles/main.scss';

.modalOverlayChangePhoto {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    @include displayDFJA(flex, null, center, center);
    z-index: 1000;
}

.modalContentOfChangePhoto {
    @include displayDFJA(flex, column, null, null);
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;

    @include respond-to-md {
        width: 90%;
        max-height: 70vh;
    }
}

.sidebarContainer {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: $white;
    color: $font-dark-colour;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    @include displayDFJA(flex, column, space-between, null);
    box-shadow: -2px 0 5px $black-transparency-05;
}

.open {
    right: 0;
}

.active {
    color: $main-colour;
    font-weight: bold;
    border-bottom: 2px solid $main-colour;
}

.header {
    background-color: $gray;
    color: $main-colour;
    @include displayDFJA(flex, row, center, center);
    padding: 20px;
}

.headerIcon {
    margin-right: 10px;
}

.adminContent {
    @include displayDFJA(flex, column, space-between, center);
    padding: 20px;
    flex-grow: 1;
    margin-top:20px;
}

.userContent {
    @include displayDFJA(flex, column, flex-start, center);
    padding: 20px;
    flex-grow: 1;
    margin-top:20px;
}

.item {
    @include displayDFJA(flex, null, null, center);
    margin-bottom: 20px;
    cursor: pointer;
}

.future{
    color: $gray-powder;
    cursor: default;
}

.item .icon {
    margin-right: 10px;
}

.footer {
    padding: 20px;
    background-color: $gray;
    @include displayDFJA(flex, row, space-around, center);
    bottom: 0;
}

.logout {
    @include displayDFJA(flex, null, center, center);
    color: $white;
    cursor: pointer;
}

.logout .icon {
    margin-right: 10px;
    color: $main-colour;
}

.languages {
    @include displayDFJA(flex, row, null, center);
}

.languages .flags {
    @include displayDFJA(flex, null, null, null);
    margin-top: 10px;
}

.languages .flags img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black-transparency-05;
    z-index: 999;
}

.para {
    margin-left: 5px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: $white;
    letter-spacing: -25%;
}

.logo::first-letter {
    color: $main-colour;
}