@import '@/styles/variables.scss';

.sidebarContainer {
    position: fixed;
    top: 0;
    right: -350px;
    width: 350px;
    height: 100%;
    background-color: $white;
    color: $font-dark-colour;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -2px 0 5px $black-transparency-05;
}

.open {
    right: 0;
}

.active {
    color: $main-colour;
    font-weight: bold;
    border-bottom: 2px solid $main-colour;
}

.header {
    background-color: $gray;
    color: $main-colour;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.headerIcon {
    margin-right: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
    margin-top:20px;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.future{
    color: $gray-powder;
    cursor: default;
}

.item .icon {
    margin-right: 10px;
}

.footer {
    padding: 20px;
    background-color: $gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
}

.logout {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    cursor: pointer;
}

.logout .icon {
    margin-right: 10px;
    color: $main-colour;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.languages .flags {
    display: flex;
    margin-top: 10px;
}

.languages .flags img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $black-transparency-05;
    z-index: 999;
}

.para {
    margin-left: 5px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: $white;
    letter-spacing: -25%;
}

.logo::first-letter {
    color: $main-colour;
}