$font-color: #FFFFFF;
$bg-color: #4F4E4E;
$font-color-dark: #000000;
$highlight-color: #FFCF70;
$highlight-color-hover: #FFBE4D;
$margin-evenly: 10px 0;

.deleteContainerMain {
    display: flex;
    background-color: $bg-color;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.questionHeader {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: $font-color;
    margin: $margin-evenly;
}

.fullNameParagraph {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;
    color: $highlight-color;
    font-weight: bold;
    margin: $margin-evenly;
}

.butonContainter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin:$margin-evenly;
    width: 100%;

    .deleteButton {
        text-align: center;
        background-color: #dc3545;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        :hover {
            background-color: #c82333;
        }
    }

    .backButton {
        text-align: center;
        background-color: $highlight-color;
        color: $font-color-dark;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        :hover {
            background-color: $highlight-color-hover;
        }
    }
}