@import '@/styles/main.scss';

.calendarCells {
  @include gridQG(7, 10px);
  grid-auto-rows: 1fr;
  width: 100%;

  .daySpan {
    font-size: 16px;
    font-weight: bold;
    color: $font-dark-colour;
  }

  .today {
    @include displayDFJAG(flex, null, center, center);
    padding: 12px;
    width: 14px;
    height: 14px;
    background: $main-colour;
    color: $font-dark-colour;
    border-radius: 70px;
    font-weight: bold;
  }

  .calendarCell {
    @include displayDFJAG(flex, column, null, null);
    background-color: $white;
    border: 2px solid $main-colour;
    height: 100%; 
    padding: 5px;
    color: $font-dark-colour;
    border-radius: 10px;

    .shiftOrAbsenceContainer{
      flex-grow: 1;
      @include displayDFJAG(flex, column, flex-end, null);
    }
  }
}