@import '@/styles/main.scss';

.photoChangeContainerMain {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    @include displayDFJA(flex, column, center, center);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  
    .header {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      @include displayDFJA(flex, null, space-between, center);
      width: 100%;
  
      .title {
        margin: 0;
        font-size: 1.5rem;
        color: $white;
      }
  
      .closeButton {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: $main-colour;
  
        &:hover {
          color: $red;
        }
      }
    }
  
    .form {
      // display: flex;
      // flex-direction: column;
      @include displayDFJA(flex, column, null, null);
      width: 100%;
      margin-top: 20px;
  
      .uploadLabel {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        @include displayDFJA(flex, null, center, center);
        padding: 10px;
        background-color: $main-colour;
        color: $font-dark-colour;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        gap: 10px;
  
        .uploadInput {
          display: none;
        }

        .icon, .fileLabel{
            cursor: pointer;
        }
  
        &:hover {
          background-color: $main-colour-hover;
        }
      }
  
      .errorMessage {
        color: $red;
        font-size: 0.9rem;
        margin-top: 5px;
      }

      .fileName{
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $white;
        color: $font-dark-colour;
        border: 2px solid $main-colour;
        border-radius: 5px;
        cursor: default;
        font-size: 1rem;
        pointer-events: none;
      }
  
      .submitButton {
        margin-top: 10px;
        padding: 10px 15px;
        background-color: $green;
        color: $white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: $green-hover;
        }
      }
    }
  }

//   .loadingModalOverlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: $black-transparency-05;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1000;

//     .loadingModalContent {
//         display: flex;
//         flex-direction: column;
//         text-align: center;

//         .spinnerContainer {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             z-index: 9999;
//         }
//     }
// }