@import '@/styles/abstracts/variables.scss';

.passwordChangeModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .passwordChangeModalContent {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
    color: $white;
  }

.container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: $gray;
    border: 1px solid $main-colour;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: $main-colour;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.label {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: left;
    color: $font-light-colour;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $main-colour;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.errorInput {
    border-color: $red-dark;
}

.passwordContainer {
    position: relative;
}

.eyeIcon {
    position: absolute;
    top: 37%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: $gray;
}

.button {
    padding: 10px;
    margin-top: 10px;
    background-color: $main-colour;
    color: $font-dark-colour;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;

    &:hover {
        background-color: darken($main-colour, 10%);
    }
}


.error {
    color: $red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}

.loadingModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .loadingModalContent {
        display: flex;
        flex-direction: column;
        text-align: center;

        .spinnerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
    }
}