@import '@/styles/main.scss';

.loginContainerMain {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: $gray;
    border: 1px solid $main-colour;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;
    text-align: center;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    color: $main-colour;
}