@import '@/styles/main.scss';

.addEmplyeeConfirmationContainerMain {
    background-color: $gray;
    @include displayDFJA(flex, column, center, center);
    width: 100%;
    padding:20px 40px;
    box-sizing: border-box;
    gap:10px;
}

.headerContainer{
    @include displayDFJA(flex, column, center, center);
    text-align: center;
    width: 100%;
    margin: 0;

    .headerParagraph{
        text-align: center;
        gap:2px;
        color: $font-light-colour;
        margin: 0;
    }

    .highlight {
        color: $main-colour;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.counterContainter {
    @include displayDFJA(flex, column, center, center);
    width: 100%;
    margin: 0;
    gap: 5px;

    .counterParagraph {
        @include displayDFJA(flex, null, null, center);
        text-align: center;
        color: $font-light-colour;
        margin: 0;
    }

    .counterTimerContainer {
        @include displayDFJA(flex, null, center, center);
        text-align: center;
        color: $font-light-colour;
        margin: 0;
        gap: 3px;

        .highlightTimeLabel {
            color: $main-colour;
            font-size: 20px;
            font-weight: bold;
        }

        .counterTimerLabel {
            @include displayDFJA(flex, null, null, center);
            text-align: center;
            color: $font-light-colour;
        }
    }
}

.buttonConianer{
    @include displayDFJA(flex, row, space-evenly, center);
    width: 100%;
    gap: 20px;

    .employeeInfo {
        text-align: center;
        background-color: $main-colour;
        color: $font-dark-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: $main-colour-hover;
        }
    }

    .closeButton {
        @include displayDFJA(flex, null, null, center);
        background-color: $main-colour;
        color: $font-dark-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $main-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }

    .detailsButton {
        @include displayDFJA(flex, null, null, center);
        background-color: $green;
        color: $font-light-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $green-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }
}