@import '@/styles/main.scss';

.calendarContainerMain{
    @include displayDFJAG(flex, column, null, center);
    margin:0;
    
    .calendarHeaderContainer{
        width: 100%;
        margin: 0 0 30px 0;
    }

    .calendarRowContainer{
        width: 100%;
    }
}