@import '@/styles/abstracts/main.scss';

.chatPageContainerMain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $page-main-background-colour
    ;
}

.chatContainer {
  position: relative;
  z-index: 1;
}