$shiftItem-border-colour: #dee2e6;
$shiftItem-border-colour-dark: #FFCF70;
$shiftItem-font-colour-dark: #000000;
$shiftItem-box-shadow-colour: rgba(0, 0, 0, 0.1);
$absence-border-colour: #FFD700;

$breakpoint-md: 768px;

@mixin respond-to-md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

.shiftItemContainerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7vh;
    color: $shiftItem-font-colour-dark;
    border-radius: 10px;
    border: 2px solid $shiftItem-border-colour-dark;
    box-shadow: 0px 2px 5px $shiftItem-box-shadow-colour;
    transition: transform 0.2s ease;
    cursor: pointer;
    text-align: center;

    &:hover {
        transform: scale(1.05);
    }

    &.unpublished {
        border: 2px dashed $shiftItem-border-colour;
    }

    &.absence {
        border-color: darken($absence-border-colour, 10%);
        cursor: default;

        &:hover {
            transform: none;
        }
    }

    .absence {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        height: 7vh;
        width: 100%;
        text-align: center;

        .absenceParagraph {
            margin: 0;
            font-size: 18px;

            @include respond-to-md {
                font-size: 14px;
            }
        }

        .buttonIcon {
            height: 30px;
            width: 30px;

            @include respond-to-md {
                height: 15px;
                width: 15px;
            }
        }
    }

    .shiftDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        color: $shiftItem-font-colour-dark;

        @include respond-to-md {
            font-size: 0.8rem;
        }

        .shiftTimeParagraph {
            margin: 0;
            font-size: 16px;

            @include respond-to-md {
                font-size: 12px;
            }
        }

        .shiftRoleParagraph {
            margin: 0;
            font-size: 12px;
            text-overflow: ellipsis;

            @include respond-to-md {
                font-size: 10px;
            }
        }
    }

    .noShift {
        color: $shiftItem-font-colour-dark;
    }
}

.buttonIcon {
    height: 30px;
    width: 30px;
}