@import '@/styles/variables.scss';

.editShiftModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $black-transparency-05;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.editShiftModalContent {
  display: flex;
  flex-direction: column;
  border: 2px solid $main-colour;
  border-radius: 8px;
  background-color: $gray;
  text-align: center;
  width: auto;
  max-height: 80vh;
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
}

.editShiftForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  .title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: $main-colour;
    border-bottom: 2px solid $main-colour;
  }
}

.basicInfoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  width: 91%;

  .personFullnameContainer,
  .dayContainer {
    display: flex;
    flex-direction: column;

    .fullNameContainer,
    .dayLabelContainer {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: $font-light-colour;
    }

    .fullNameParagraphContainer,
    .dayParagraphContainer {
      display: flex;
      gap: 5px;
      color: $main-colour;
    }

    .firstnameParagraph,
    .surnameParagraph,
    .dayParagraph {
      margin: 0;
    }
  }
}

.hoursContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .hourInfoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;

    .hourInfoLabel {
      font-size: large;
      font-weight: bold;
      color: $main-colour;
    }

    .hourInfoAdviceLabel {
      font-size: x-small;
      color: $font-light-colour;
    }
  }

  .hoursContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 10px;

    .startHourLabel,
    .endHourLabel {
      font-weight: bold;
      color: $font-light-colour;
    }

    .startHour,
    .endHour {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    .hourSelect {
      width: 100%;
      font-size: 12px;
      color: $font-dark-colour;
    }
  }
}

.shiftTimeContainer {
  text-align: center;

  .shiftTimeLabel {
    font-weight: bold;
    color: $font-light-colour;
  }
}

.predefinedShiftsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

  .predefinedShiftButton {
    padding: 8px 12px;
    background-color: $main-colour;
    border: none;
    border-radius: 4px;
    color: $font-dark-colour;
    cursor: pointer;
    font-weight: bold;

    .predefinedShiftParagraph {
      margin: 0;
    }

    &:hover {
      background-color: $main-colour-hover;
    }
  }
}

.roleContainer {
  text-align: left;

  .roleLabel {
    font-weight: bold;
    color: $main-colour;
  }

  .roleSelect {
    width: 100%;
    font-size: 12px;
    color: $font-dark-colour;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  gap: 15px;

  .addShiftButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: $green;
    color: $font-light-colour;
    padding: 10px 15px;

    .buttonIcon {
      height: 20px;
      width: 20px;
    }

    .buttonParagraph {
      margin: 0;
      font-size: 14px;
    }

    &:hover {
      background-color: $green-hover;
    }
  }

  .closeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: $main-colour;
    color: $font-dark-colour;
    padding: 10px 15px;

    .buttonIcon {
      height: 20px;
      width: 20px;
    }

    .buttonParagraph {
      margin: 0;
      font-size: 14px;
    }

    &:hover {
      background-color: $main-colour-hover;
    }
  }

  .deleteShiftButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: $red;
    color: $font-light-colour;
    padding: 10px 15px;

    .buttonIcon {
      height: 20px;
      width: 20px;
    }

    .buttonParagraph {
      margin: 0;
      font-size: 14px;
    }

    &:hover {
      background-color: $red-dark;
    }
  }
}

.roleSelect,
.hourSelect {
  -webkit-appearance: none; // Safari
  -moz-appearance: none; // Firefox
  appearance: none; //Standard
  width: 100%;
  height: 5vh;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid $main-colour;
  padding: 10px 5vh 10px 10px;
  color: $font-dark-colour;
  box-shadow: inset 0 2px 4px $black-transparency-01;
  transition: all 0.3s ease;
  background-image:
    linear-gradient(45deg, transparent 50%, $font-dark-colour 50%),
    linear-gradient(135deg, $font-dark-colour 50%, transparent 50%);
  background-position:
    calc(100% - 15px) calc(1em + 5px),
    calc(100% - 6px) calc(1em + 5px);
  background-size:
    9px 9px,
    9px 9px;
  background-repeat: no-repeat;
  color: $font-dark-colour;
  cursor: pointer;

  &:hover {
    border: 2px solid $main-colour;
    outline: none;
    background-color: lighten($white-4, 5%);
  }

  &::placeholder {
    margin: 0 0 0 10px;
    color: lighten($font-dark-colour, 30%);
  }
}

.startHourLabel,
.endHourLabel,
.roleLabel {
  font-size: 16px;
  font-weight: bold;
  color: $font-dark-colour;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.errorMessage {
  color: $red;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: right;
  flex-shrink: 0;
}

.deleteContainerMain {
  display: flex;
  background-color: $gray;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  gap: 20px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  gap: 5px;

  .infoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .headerLabel {
      text-align: center;
      color: $font-light-colour;
      margin: 0;
    }

    .highlight {
      color: $main-colour;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .highlightTitle {
    color: $main-colour;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.butonContainter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

  .deleteButton {
    display: flex;
    align-items: center;
    background-color: $red;
    color: $font-light-colour;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-colour 0.3s ease;

    &:hover {
      background-color: $red-dark;
    }

    .buttonParagraph {
      text-align: center;
      margin: 0 0 0 10px;
      font-size: 16px;
    }

    .buttonIcon {
      height: 18px;
      width: 18px;
    }
  }

  .closeButton {
    display: flex;
    align-items: center;
    background-color: $main-colour;
    color: $font-dark-colour;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $main-colour-hover;
    }

    .buttonParagraph {
      text-align: center;
      margin: 0 0 0 10px;
      font-size: 16px;
    }

    .buttonIcon {
      height: 18px;
      width: 18px;
    }
  }
}