$popup-bg-colour: #4F4E4E;
$popup-bg-colour-dark: #000000;
$popup-bg-colour-light: #FFFFFF;
$popup-font-colour: #FFFFFF;
$popup-font-colour-dark: #000000;
$popup-highlight-colour: #FFCF70;
$popup-highlight-colour-hover: #FFBE4D;
$popup-no-button-colour: #dc3545;
$popup-yes-button-colour: #008000;
$popup-yes-button-colour: #008000;
$popup-box-shadow-colour: rgba(0, 0, 0, 0.1);
$popup-checkbox-bg-colour: #e8e8e8;
$popup-error-border-colour: #dc3545;
$popup-error-bg-colour: #ffe6e6;

.departmentContainerMain {
    background-color: $popup-bg-colour;
    color: $popup-font-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.showDepartmentsMapContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;

    .departmentForm {

        .showDepartmentContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: $popup-highlight-colour;
            height: 100%;
            border-radius: 5px;
            margin: 0;
            padding: 10px;

            .departmentInfoContainer {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;

                .inputLabel {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: bold;
                    color: $popup-font-colour-dark;
                }

                .departmentNameContainer {
                    flex: 1;
                    margin: 0 0 10px 0;

                    .departmentNameLabel {
                        font-weight: bold;
                        color: $popup-font-colour-dark;
                        font-size: 22px;
                        text-transform: uppercase;
                        text-decoration: underline;
                    }
                }

                .departmentInfoRowContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin: 0 0 10px 0;
                    width: 100%;

                    .departmentDataContainer {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 5px;

                        .comma::after {
                            content: ',';
                        }

                        .largeAll {
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        .departmentCityLabel {
                            color: $popup-font-colour-dark;
                        }

                        .buildingNumbersContainer {
                            display: flex;
                            flex-direction: row;

                            .slash::after {
                                content: '/';
                            }
                        }

                        .departmentZipCodeParagraph {
                            color: $popup-font-colour-dark;
                        }
                    }
                }

                @media (max-width: 768px) {
                    .departmentInfoRowContainer {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }

            .editAndRemoveButtonContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;
                margin: 10px 0 0 0;

                .removeButton,
                .editButton,
                .yesButton,
                .noButton {
                    background-color: transparent;
                    border: 2px solid $popup-font-colour-dark;
                    color: $popup-font-colour-dark;
                    padding: 5px 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: $popup-font-colour-dark;
                        color: $popup-highlight-colour;
                    }
                }

                .yesButton:hover {
                    background-color: $popup-yes-button-colour;
                    color: $popup-font-colour-dark;
                }

                .noButton:hover {
                    background-color: $popup-no-button-colour;
                    color: $popup-font-colour-dark;
                }
            }
        }
    }
}

.addDepartmentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;

    .addItemContainer {
        display: flex;
        flex-direction: column;
    }

    .inputLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        color: $popup-font-colour;
        margin-bottom: 5px;
    }
}

.buttonContainer {
    width: 100%;
    margin: 20px 0 0 0;

    .addButton {
        background-color: $popup-highlight-colour;
        border: none;
        color: $popup-font-colour-dark;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $popup-highlight-colour-hover;
        }
    }
}

@media (max-width: 1200px) {
    .showDepartmentsMapContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {

    .showDepartmentsMapContainer,
    .addDepartmentContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .showDepartmentsMapContainer,
    .addDepartmentContainer {
        grid-template-columns: 1fr;
    }
}

.errorMessage {
    color: $popup-error-border-colour;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: right;
    flex-shrink: 0;
}

.departmentInput {
    -webkit-appearance: none; //Safari
    -moz-appearance: none; //Firefox
    appearance: none; //Standard
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid $popup-highlight-colour;
    padding: 10px 5vh 10px 10px;
    color: $popup-font-colour-dark;
    box-shadow: inset 0 2px 4px $popup-box-shadow-colour;
    transition: all 0.3s ease;

    &:hover {
        border: 2px solid $popup-highlight-colour;
        outline: none;
        background-color: lighten($popup-checkbox-bg-colour, 5%);
    }

    &::placeholder {
        margin: 0 0 0 10px;
        color: lighten($popup-font-colour-dark, 30%);
    }

    @media (max-width: 768px) {
        height: 4vh;
        padding: 8px 2vh 8px 8px;
    }
}

.errorInput {
    border-color: $popup-error-border-colour;
    background-color: $popup-error-bg-colour;
}