.employeesContainerMain{
  display: flex;
  flex-direction: column;
}

.employeesFilterAndListContainer{
  display: flex;
  flex-direction: row;
  margin: 30px;
  gap: 30px;
}

.emplyeesFilterContainer {
  flex: 1;
}

.employeesListcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex: 3x;
}