@import '@/styles/main.scss';

.employeesContainerMain{
  @include displayDFJAG(flex, column, null, null);
  margin: 30px;
}

.employeesFilterAndListContainer{
  @include displayDFJAG(flex, row, null, null, 30px);
  margin: 30px;
}

.emplyeesFilterContainer {
  width: auto;
}

.employeesListcontainer { 
  @include displayDFJAG(grid, null, null, center);
  width: 100%;
  height: fit-content;
  position: relative;

  &.tilesView {
    @include gridQG(3, 20px);
  }

  &.listView {
    @include gridQG(1, 10px);
  }
}
@include errorMessage("center");