@import '@/styles/abstracts/main.scss';

.addEmployeePageContainerMain{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $page-main-background-colour;
    ;
}