$employeeItem-bg-colour: #FFCF70;
$employeeItem-font-colour-dark: #000000;
$employeeItem-border-colour: #000000;
$employeeItem-box-shadow-colour: rgba(0, 0, 0, 0.1);

$breakpoint-md: 768px;
@mixin respond-to-md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

.employeeItemContainerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $employeeItem-bg-colour;
    border: 1px solid $employeeItem-border-colour;
    box-shadow: 0px 4px 6px $employeeItem-box-shadow-colour;
    border-radius: 10px;
    padding: 0px 20px;
    width: 100%;
    height: 7vh;
    cursor: pointer;

    @include respond-to-md {
        flex-direction: row;
        gap: 10px;
    }

    .fullNameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 5px;
        cursor: pointer;

        .employeeItemLabel {
            font-weight: bold;
            text-transform: capitalize;
            color: $employeeItem-font-colour-dark;
            cursor: pointer;
        }
    }

    .employeeItemLabel {
        text-transform: capitalize;
        color: $employeeItem-font-colour-dark;
        cursor: pointer;
    }
}