@import '@/styles/main.scss';

.showRoleConteinerMain {
    @include displayDFJAG(flex, column, null, center, 10px);
    height: 100%;
    padding: 10px;
    background-color: $white-3;
    border-radius: 5px;

    .showRoleConteiner {
        @include displayDFJAG(flex, null, space-between, center, 10px);
        height: 100%;

        .roleInfoContainer {
            @include displayDFJAG(flex, column, null, null, 5px);
        }

        .roleNameParagraph {
            @include displayDFJAG(flex, null, null, left);
            margin: 0;
            color: $font-dark-colour;
            font-weight: bold;
            width: 10vw;
        }

        .editAndRemoveButtonContainer {
            @include displayDFJAG(flex, row, null, null, 10px);
        }
    }
}

    @include settingButtons;


.colorPicker {
    border: 2px solid $main-colour;
    border-radius: 5px;
    background-color: $main-colour;
    height: auto;
    width: 35px;
    cursor: pointer;
}

.formInput {
    @include appearance-none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid $main-colour;
    padding: 10px 5vh 10px 10px;
    color: $font-dark-colour;
    transition: all 0.3s ease;

    &:hover {
        border: 2px solid $main-colour;
        outline: none;
        background-color: lighten($white-4, 5%);
    }

    &::placeholder {
        margin: 0 0 0 10px;
        color: lighten($font-dark-colour, 30%);
    }

    @include respond-to-md {
        height: 4vh;
        padding: 8px 2vh 8px 8px;
    }
}
@include errorMessage("right");