$popup-bg: rgba(0, 0, 0, 0.5);
$popup-bg-colour: #4F4E4E;
$popup-highlight-colour: #FFCF70;

$scheduleBar-button-bg-colour: #FFFFFF;
$scheduleBar-font-colour: #FFFFFF;
$scheduleBar-font-colour-dark: #000000;
$scheduleBar-highlight-colour: #FFCF70;
$scheduleBar-highlight-colour-hover: #FFBE4D;

$breakpoint-md: 768px;

@mixin respond-to-md {
    @media (max-width: $breakpoint-md) {
        @content;
    }
}

.publishModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $popup-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .publishModalContent {
    display: flex;
    flex-direction: column;
    border: 2px solid $popup-highlight-colour;
    border-radius: 8px;
    background-color: $popup-bg-colour;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
  }

.scheduleBarContainerMain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    @include respond-to-md {
        flex-direction: column;
        gap: 10px;
    }

    .buttonContainer {
        display: flex;
        flex: 1;
        gap: 15px;
        margin: 0 30px 0 0;

        @include respond-to-md {
            flex-direction: row;
            justify-content: center;
            gap: 10px;
            margin: 0;
        }

        .exportButton,
        .publishButton {
            display: flex;
            align-items: center;
            padding: 10px;
            background-color: $scheduleBar-button-bg-colour;
            color: $scheduleBar-font-colour-dark;
            border: 2px solid $scheduleBar-highlight-colour;
            border-radius: 5px;
            font-size: 14px;
            gap: 10px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

            &:hover {
                background-color: $scheduleBar-highlight-colour-hover;
                color: $scheduleBar-font-colour;
                border-color: $scheduleBar-highlight-colour-hover;
            }

        }
    }

    .weekSwitcher {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        flex: 4;

        .changeWeekButton {
            padding: 10px;
            background-color: $scheduleBar-button-bg-colour;
            color: $scheduleBar-font-colour-dark;
            border: 2px solid $scheduleBar-highlight-colour;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

            &:hover {
                background-color: $scheduleBar-highlight-colour-hover;
                color: $scheduleBar-font-colour;
                border-color: $scheduleBar-highlight-colour-hover;
            }

        }

        .dateRange {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            background-color: $scheduleBar-button-bg-colour;
            color: $scheduleBar-font-colour-dark;
            border: 2px solid $scheduleBar-highlight-colour;
            border-radius: 5px;
            gap: 10px;

            .dateRangeParagraph {
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: $scheduleBar-font-colour-dark;
            }
        }
    }
}

.buttonIcon {
    height: 20px;
    width: 20px;
}