@import '@/styles/main.scss';

.publishModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    @include displayDFJA(flex, null, center, center);
    z-index: 1000;
}

.publishModalContent {
    @include displayDFJA(flex, column, null, null);
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
}

.scheduleBarContainerMain {
    @include displayDFJA(flex, row, center, space-between);

    @include respond-to-md {
        @include displayDFJA(flex, column, null, null);
        gap: 10px;
    }

    .buttonContainer {
        @include displayDFJA(flex, null, null, null);
        flex: 1;
        gap: 15px;
        margin: 0 30px 0 0;

        @include respond-to-md {
            @include displayDFJA(flex, row, center, null);
            gap: 10px;
            margin: 0;
        }

        .exportButton,
        .publishButton {
            @include displayDFJA(flex, null, null, center);
            padding: 10px;
            background-color: $white;
            color: $font-dark-colour;
            border: 2px solid $main-colour;
            border-radius: 5px;
            font-size: 14px;
            gap: 10px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

            &:hover {
                background-color: $main-colour-hover;
                color: $font-light-colour;
                border-color: $main-colour-hover;
            }

        }
    }

    .weekSwitcher {
        @include displayDFJA(flex, row, center, center);
        gap: 30px;
        flex: 4;

        .changeWeekButton {
            padding: 10px;
            background-color: $white;
            color: $font-dark-colour;
            border: 2px solid $main-colour;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

            &:hover {
                background-color: $main-colour-hover;
                color: $font-light-colour;
                border-color: $main-colour-hover;
            }

        }

        .dateRange {
            @include displayDFJA(flex, row, center, center);
            padding: 10px;
            background-color: $white;
            color: $font-dark-colour;
            border: 2px solid $main-colour;
            border-radius: 5px;
            gap: 10px;

            .dateRangeParagraph {
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: $font-dark-colour;
            }
        }
    }
}

.buttonIcon {
    height: 20px;
    width: 20px;
}

.exportDropdownContainer {
    position: relative;
    display: inline-block;

    .exportDropdownMenu {
        position: absolute;
        top: 100%;
        left: 0;
        transition: height 0.3s ease-out;
        z-index: 1000;

        button {
            @include displayDFJA(flex, row, space-between, center);
            text-align: center;
            background-color: $white-4;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin: 5px 0;


            &:hover {
                background-color: $main-colour-hover;
            }
        }
    }
}
