@import '@/styles/main.scss';

.scheduleBarContainerMain {
    @include displayDFJAG(flex, row, center, space-between);

    @include respond-to-md {
        @include displayDFJAG(flex, column, null, null, 10px);
    }

    .buttonContainer {
        @include displayDFJAG(flex, null, null, null, 15px);
        flex: 1;
        margin: 0 30px 0 0;

        @include respond-to-md {
            @include displayDFJAG(flex, row, center, null, 10px);
            margin: 0;
        }
    }

    .weekSwitcher {
        @include displayDFJAG(flex, row, center, center, 30px);
        flex: 4;

        .dateRange {
            @include displayDFJAG(flex, row, center, center, 10px);
            padding: 10px;
            background-color: $white;
            color: $font-dark-colour;
            border: 2px solid $main-colour;
            border-radius: 5px;
            height: 40px;

            .dateRangeParagraph {
                margin: 0;
                padding: 0;
                font-weight: bold;
                color: $font-dark-colour;
            }
        }
    }
}

.exportDropdownContainer {
    position: relative;
    display: inline-block;

    .exportDropdownMenu {
        position: absolute;
        top: 100%;
        left: 0;
        transition: height 0.3s ease-out;
        z-index: 1000;

        button {
            @include displayDFJAG(flex, row, space-between, center);
            text-align: center;
            background-color: $white-4;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin: 5px 0;

            &:hover {
                background-color: $main-colour-hover;
            }
        }
    }
}