@mixin displayDFJA($display:flex , $direction: column, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin gridQG($quantity: 3, $gap: 20px) {
    display: grid;
    grid-template-columns: repeat($quantity, 1fr);
    gap: $gap;
}

@mixin appearance-none{
    -webkit-appearance: none; // Safari
    -moz-appearance: none; // Firefox
    appearance: none; // Standard
}