$font-dark-colour: #000000;
$black: #000000;
$font-light-colour: #FFFFFF;
$white: #FFFFFF;
$main-colour: #FFCF70;
$main-colour-hover: #FFBE4D;
$main-powder-colour: #fde29c;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1225px;
$page-main-background-colour: #f5f5f5;
$green: #008000;
$green-hover: #00a000;
$red: #dc3545;
$red-dark: #c82333;
$red-powder: #ffe6e6;
$gray: #4F4E4E;
$gray-powder: #817F7F;
$black-transparency-01: rgba(0, 0, 0, 0.1);
$black-transparency-05: rgba(0, 0, 0, 0.5);
$white-2: #f1f1f1;
$white-3: #f9f9f9;
$white-4: #e8e8e8;

// $employeeFilter-box-shadow-colour-orange: rgba(255, 165, 0, 0.8); //1of1 //probably not needed
// $employeeCalendar-bg-colour-powderlight: #EEE; //1of1 //probably not needed
// $employeeCalendar-border-colour: #CCC; //1of1 //probably not needed