@import '@/styles/abstracts/variables.scss';

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: $white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.imageContainer {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 10px;
}

.sidebarHeader {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    flex-direction: column;
    gap: 20px;
}

.translateContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid $main-colour;
    border-radius: 8px;
    padding: 10px 0;
}

.newChatContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid $main-colour;
    border-radius: 8px;
    padding: 10px 0;
    cursor: pointer;
}

.newChatLabel {
    cursor: pointer;
}

.sectionBlock .activeSection {
    .activeIcon {
        color: $main-colour;
    }
}

.selectedChatContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 2px solid $main-colour;
    border-radius: 8px;
    padding: 10px 0;
}

.addNewConversationContainer {
    cursor: pointer;
}

.sectionSelector {
    display: flex;
    justify-content: space-between;
}


.chatList {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
}

.chatItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s;
    gap: 20px;

    &:hover {
        background-color: lighten($gray, 10%);
    }

    &.activeChat {
        background-color: $main-colour;
    }
}

.messagesTileInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chatName {
    font-weight: bold;
}

.lastMessage {
    white-space: nowrap;
}