@import '@/styles/main.scss';

.searchPrivUserContaner {
    // display: flex;
    // flex-direction: column;
    @include displayDFJA(flex, column, null, null);
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    // background-color: $white;
    // border: 2px solid $main-colour;
    // border-radius: 8px;
    padding: 16px;
    // box-shadow: 0 4px 6px $black-transparency-01;

    .searchUserInputContainer {
        // display: flex;
        // align-items: center;
        @include displayDFJA(flex, null, null, center);
        gap: 8px;
        margin-bottom: 16px;

        .searchInput {
            flex: 1;
            padding: 8px 12px;
            font-size: 14px;
            border: 2px solid $main-colour;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;

            &:focus {
                border-color: $main-colour;
            }
        }
    }

    .searchUserResult {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 10px;
        @include gridQG(3, 10px);

        .searchUserResultItem {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: center;
            @include displayDFJA(flex, row, space-between, center);
            background-color: $main-colour;
            border: 1px solid $font-dark-colour;
            box-shadow: 0px 4px 6px $black-transparency-01;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: $main-colour-hover;
                transform: scale(1.05);
            }

            .imageContainer {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                margin-left: 10px;
            }

            .fullNameLabel {
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: 500;
                color: $font-dark-colour;
            }
        }
    }
}

.searchGroupUserContaner {
    // display: flex;
    // flex-direction: column;
    @include displayDFJA(flex, column, null, null);
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 16px;

    .searchUserInputContainer {
        // display: flex;
        // align-items: center;
        @include displayDFJA(flex, null, null, center);
        gap: 8px;
        margin-bottom: 16px;

        .searchInput {
            flex: 1;
            padding: 8px 12px;
            font-size: 14px;
            border: 2px solid $main-colour;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s;

            &:focus {
                border-color: $main-colour;
            }
        }
    }

    .searchUserResult {
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // gap: 10px;
        @include gridQG(3, 10px);

        .searchUserResultItem {
            // display: flex;
            // flex-direction: row;
            // justify-content: space-between;
            // align-items: center;
            @include displayDFJA(flex, row, space-between, center);
            background-color: $main-colour;
            border: 1px solid $font-dark-colour;
            box-shadow: 0px 4px 6px $black-transparency-01;
            border-radius: 10px;
            padding: 5px;
            width: 100%;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: $main-colour-hover;
                transform: scale(1.05);
            }

            .imageContainer {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
                margin-left: 10px;
            }

            .fullNameLabel {
                margin: 0;
                padding: 0;
                font-size: 14px;
                font-weight: 500;
                color: $font-dark-colour;
            }
        }
    }
}