$popup-bg-colour: #4F4E4E;
$popup-bg-colour-dark: #000000;
$popup-bg-colour-light: #FFFFFF;
$popup-font-colour: #FFFFFF;
$popup-font-colour-dark: #000000;
$popup-highlight-colour: #FFCF70;
$popup-highlight-colour-hover: #FFBE4D;
$popup-no-button-colour: #dc3545;
$popup-yes-button-colour: #008000;

.departmentContainerMain {
    background-color: $popup-bg-colour;
    color: $popup-font-colour;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.showDepartmentsMapConteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    gap: 10px;

    .showDepartmentConteiner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $popup-highlight-colour;
        border-radius: 5px;
        margin: 0;
        padding: 10px;

        .departmentInfoContainer {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            .departmentInput {
                padding: 5px;
                border: 2px solid $popup-bg-colour-dark;
                border-radius: 5px;
                background-color: $popup-bg-colour-light;
                color: $popup-font-colour-dark;
                outline: none;
                width: 100%;
                margin: 0 0 5px 0;
            }

            .inputLabel {
                font-weight: bold;
                color: $popup-font-colour-dark;
            }

            .departmentNameContainer {
                flex: 1;
                margin: 0 0 10px 0;

                .departmentNameLabel {
                    font-weight: bold;
                    color: $popup-font-colour-dark;
                    font-size: 22px;
                    text-transform: uppercase;
                    text-decoration: underline;
                }
            }

            .departmentInfoRowContainer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0 0 10px 0;
                width: 100%;

                .departmentDataContainer {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;

                    .comma::after {
                        content: ',';
                    }

                    .largeAll {
                        text-transform: uppercase;
                        font-weight: bold;
                    }

                    .departmentCityLabel {
                        color: $popup-font-colour-dark;
                    }

                    .buildingNumbersContainer {
                        display: flex;
                        flex-direction: row;

                        .slash::after {
                            content: '/';
                        }
                    }

                    .departmentZipCodeParagraph {
                        color: $popup-font-colour-dark;
                    }
                }
            }

            @media (max-width: 768px) {
                .departmentInfoRowContainer {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }

        .editAndRemoveButtonContainer {
            display: flex;
            flex-direction: row;
            gap: 10px;
            justify-content: flex-end;

            .removeButton,
            .editButton,
            .yesButton,
            .noButton {
                background-color: transparent;
                border: 2px solid $popup-font-colour-dark;
                color: $popup-font-colour-dark;
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: $popup-font-colour-dark;
                    color: $popup-highlight-colour;
                }
            }

            .yesButton:hover {
                background-color: $popup-yes-button-colour;
                color: $popup-font-colour-dark;
            }

            .noButton:hover {
                background-color: $popup-no-button-colour;
                color: $popup-font-colour-dark;
            }
        }
    }
}

.addDepartmentContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;

    .addItemContainer {
        display: flex;
        flex-direction: column;
    }

    .departmentNameInput,
    .departmentInput {
        padding: 10px;
        border: 2px solid $popup-highlight-colour;
        border-radius: 5px;
        background-color: $popup-bg-colour-light;
        color: $popup-font-colour-dark;
        outline: none;

        &::placeholder {
            color: $popup-font-colour-dark;
        }
    }

    .inputLabel {
        font-weight: bold;
        color: $popup-font-colour;
        margin-bottom: 5px;
    }
}

.buttonContainer {
    width: 100%;

    .addButton {
        background-color: $popup-highlight-colour;
        border: none;
        color: $popup-font-colour-dark;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $popup-highlight-colour-hover;
        }
    }
}

@media (max-width: 1200px) {
    .showDepartmentsMapConteiner {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {

    .showDepartmentsMapConteiner,
    .addDepartmentContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    .showDepartmentsMapConteiner,
    .addDepartmentContainer {
        grid-template-columns: 1fr;
    }
}