@import '@/styles/abstracts/main.scss';

@mixin respond-to-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

.shiftInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
  gap: 5px;

  @include respond-to-md {
    padding: 0;
    font-size: small;
  }

  .shiftTime {
    color: $font-dark-colour;
  }

  .shiftRole {
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color: $main-colour;
    color: $gray-powder;
  }
}