@import '@/styles/main.scss';

.planerAiContainer {
    @include displayDFJAG(flex, column-reverse, null, null, 20px);
    width: 90%;
    margin: 20px auto;
    // gap: 20px;
}

.buttonContainer {
    @include displayDFJAG(flex, row, space-between, center);
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 4px 8px $black-transparency-01;

}

.addNewDayButton,
.generateButton,
.deleteGenerateShiftsButton,
.infoButton,
.deleteDayButton {
    @include displayDFJAG(flex, null, center, center, 10px);
    background-color: $main-colour;
    color: $font-dark-colour;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    // gap: 10px;

    &:hover {
        background-color: $main-colour-hover;
    }

    .buttonIcon {
        height: 26px;
        width: 26px;
        margin: 0;
    }

    .buttonParagraph {
        text-align: center;
        font-size: 20px;
        margin: 0;
    }
}

.planerAiForm {
    @include displayDFJAG(flex, column, null, null, 20px);
    // gap: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: $white;
    box-shadow: 0 4px 8px $black-transparency-01;
}

.dateContainer {
    @include displayDFJAG(flex, null, null, center, 10px);
    // gap: 10px;
}

.dateLabel {
    font-size: 16px;
    font-weight: bold;
    color: $font-dark-colour;
}

.dateInput {
    border: 2px solid $white-4;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 16px;
    background-color: $white;
    box-shadow: 0 2px 4px $black-transparency-01;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
        border-color: $main-colour;
    }
}

.predefineShiftsContainer {
    @include gridQG(4, 20px);
}

.predefineShiftLabel,
.roleLabel {
    @include displayDFJAG(flex, row, space-between, center, 10px);
    text-align: center;
    // gap: 10px;
    background-color: $white-4;
    border-radius: 5px;
    box-shadow: 0px 2px 5px $black-transparency-01;
    font-size: 16px;
    color: $font-dark-colour;
    cursor: pointer;
    width: auto;
    padding: 10px;
    height: 50px;
}

.predefinedShiftCheckbox,
.rolesCheckbox {
    margin-right: 10px;
    accent-color: $main-colour;
    cursor: pointer;
}

.predefinedShiftCheckboxLabel,
.rolesCheckboxLabel {
    font-size: 14px;
    color: $font-dark-colour;
}

.roleContainer {
    @include gridQG(4, 20px);
}

.rolesInfoContainer {
    margin: 20px 0;
    width: 100%;

    hr {
        height: 2px;
        color: $main-colour;
    }

    .editingShiftIdParagraph {
        @include displayDFJAG(flex, null, flex-start, null, 10px);
        font-weight: bold;
        // gap: 10px;

        .setRolesForPredefineShiftHighlight {
            border-bottom: 2px solid $main-colour;
        }
    }
}

.rolesQuantityInput {
    width: 5vw;
    padding: 5px;
    border: 2px solid $main-colour;
    border-radius: 5px;
    background-color: $white;
    color: $font-dark-colour;
    outline: none;
}
