$popup-bg-colour: #4F4E4E;
$popup-font-colour: #FFFFFF;
$popup-font-colour-dark: #000000;
$popup-highlight-colour: #FFCF70;
$popup-highlight-colour-hover: #FFBE4D;

.addSettingsNotificationContainerMain {
    display: flex;
    background-color: $popup-bg-colour;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding:10px 40px;
    box-sizing: border-box;
    gap: 20px;
}

.headerContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    gap: 5px;

    .headerLabel{
        text-align: center;
        color: $popup-font-colour;
        margin: 0;
    }

    .highlight {
        color: $popup-highlight-colour;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.counterContainter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    gap:5px;

    .counterParagraph{
        display: flex;
        align-items: center;
        text-align: center;
        color: $popup-font-colour;
        margin: 0;
    }

    .counterTimerContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $popup-font-colour;
        margin: 0;
        gap: 3px;

        .highlightTimeLabel {
            color: $popup-highlight-colour;
            font-size: 20px;
            font-weight: bold;
        }
        
        .counterTimerLabel{
            display: flex;
            align-items: center;
            text-align: center;
            color: $popup-font-colour;
        }
    }
}

.buttonConianer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .employeeInfo {
        text-align: center;
        background-color: $popup-highlight-colour;
        color: $popup-font-colour-dark;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: $popup-highlight-colour-hover;
        }
    }

    .closeButton {
        display: flex;
        align-items: center;
        background-color: $popup-highlight-colour;
        color: $popup-font-colour-dark;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $popup-highlight-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }
}