$breakpoint-md: 768px;

@mixin respond-to-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

.calendarRowContainerMain {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 0 15px 0;

  @include respond-to-md {
    flex-direction: column;
    gap: 15px;
  }

  .employeeItemContainer {
    flex: 1;
    display: flex;
    align-items: center;
    cursor: pointer;

    @include respond-to-md {
      width: 100%;
    }
  }

  .shiftItemContainer {
    flex: 4;
    display: flex;
    gap: 15px;

    @include respond-to-md {
      flex-direction: row;
      width: 100%;
      gap: 10px;
    }

    .shiftsItems {
      flex: 1;
      text-align: center;
    }
  }
}

.spinnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  margin-top: 200px;
}