@import '@/styles/main.scss';

.calendarRowContainerMain {
  @include displayDFJAG(flex, null, null, center, 30px);
  margin: 0 0 15px 0;

  @include respond-to-md {
    @include displayDFJAG(flex, column, null, null, 15px);
  }

  .employeeItemContainer {
    @include displayDFJAG(flex, null, null, center);
    flex: 1;
    cursor: pointer;

    @include respond-to-md {
      width: 100%;
    }
  }

  .shiftItemContainer {
    flex: 4;
    @include displayDFJAG(flex, null, null, null, 15px);

    @include respond-to-md {
      @include displayDFJAG(flex, row, null, null, 10px);
      width: 100%;
    }

    .shiftsItems {
      flex: 1;
      text-align: center;
    }
  }
}