$tile-bg-colour: #FFCF70;
$tile-bg-colour-hover: #FFBE4D;
$tile-font-colour-dark: #000000;
$tile-border-colour: #000000;
$tile-box-shadow-colour: rgba(0, 0, 0, 0.1);

.tileContainerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $tile-bg-colour;
  border: 1px solid $tile-border-colour;
  box-shadow: 0px 4px 6px $tile-box-shadow-colour;
  border-radius: 10px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
}

.tileContainerMain:hover {
  background-color: $tile-bg-colour-hover;
}

.fullNameContainer{
  .fullNameParagraph {
    text-align: center;
    font-weight: bold;
    color: $tile-font-colour-dark;
    font-size: 24px;
    margin: 5px 0;
  }
}

  .languagesContainer {
    .languageFlag {
      margin: 5px;
      width: 40px;
      height: 40px;
    }
  }