@import '@/styles/main.scss';

.newGroupForm {
    @include displayDFJAG(flex, row, center, center, 20px);
    padding: 20px;

    .groupNameInput{
        width: 100%;
        padding: 10px;
        border: 2px solid $main-colour;
        border-radius: 8px;
    }
    button {
        padding: 10px;
        border: 2px solid $main-colour;
        border-radius: 8px;
        background-color: $main-colour;
        color: $white;
        font-weight: bold;
        cursor: pointer;
    }
}