$bg-color: #F0F0F0;
$primary-color: #FFCF70;
$secondary-color: #4F4E4E;
$text-color: #000000;
$highlight-color: #FFCF70;
$border-radius: 10px;

.chatContainer {
  display: flex;
  height: 70vh;
  // margin: 40px;
  margin: 5%;
  // margin-top: 60px;
}

.sidebar {
  // width: 300px;
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  display: flex;
  //justify-content: space-between;
  align-items: center;
  // padding: 2px;
  color: #fff;
  font-size: 1.5em;
  // padding: 0 30px;
  flex-direction: column;
}

.headerTop {
  display: flex;
  align-items: center;
  // margin-bottom: 10px;
  gap: 15px;
}

.headerBottom {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $bg-color;

  input {
    margin-left: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: $border-radius;
    outline: none;
  }
}

.chatList {
  flex-grow: 1;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.chatItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s;
  background-color: #fff;

  &:hover {
    background-color: lighten($bg-color, 10%);
  }

  &.activeChat {
    background-color: $highlight-color;
  }
}

.chatAvatar {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.chatName {
  font-weight: bold;
  color: $text-color;
}

.chatMessage {
  color: $text-color;
}

.chatWindow {
  flex-grow: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;
  margin-left: 20px;
  margin: 0 auto;
}

.chatHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.chatMessages {
  max-width: 100%;
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  p {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: $border-radius;
    margin: 0;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 40%;
  }
}

.otherMessage {
  justify-content: flex-start;
}

.selfMessage {
  justify-content: flex-end;

  p {
    background-color: $highlight-color;
  }
}

.lastMessage {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.messageAvatar {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
}

.messageInputContainer {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #ddd;

    .messageInput {
      flex-grow: 1;
      padding: 10px;
      border: none;
      border-radius: $border-radius;
      outline: none;
      margin: 0 10px;
    }
  
    .sendButton {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }

  // input {
  //   flex-grow: 1;
  //   padding: 10px;
  //   border: none;
  //   border-radius: $border-radius;
  //   outline: none;
  //   margin: 0 10px;
  // }
  .icon {
    cursor: pointer;
  }

}

.icon {
  color: $primary-color;
  width: 30px;
  height: 30px;
}

.timestamp {
  font-size: 0.8em; 
  color: #888;
  display: block;
  margin-top: 4px; 
  text-align: right; 
}

.searchInput {
  margin-top: 10px;
  margin-left: 10px;

  &:focus {
    border-color: #FFCF70;
    outline: none;
  }
}

.searchResults {
  flex-grow: 1;
  max-height: 500px; 
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.searchResultItem {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #FFCF70;
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }

  p {
    margin: 0;
  }
}

.sectionSelector {
  display: flex;
  justify-content: space-between;
}

.sectionBlock {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.activeSection {
  background-color: #FFCF70;
  font-weight: bold;
}
