@import '@/styles/main.scss';

.chatContainer {
  @include displayDFJA(flex, row, center, null);
  gap:20px;
  height: 78vh;
  width: 96%;
  text-align: center;
  margin: 29.40625px auto;
}

.sidebar {
  @include displayDFJA(flex, column, null, null);
  padding: 20px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 8px $black-transparency-01;
  gap:20px;
  flex:1;
}

.chatWindow{
  flex:5;
  max-width: 1100px;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 4px 8px $black-transparency-01;
}