@import '@/styles/main.scss';

.cancelContainerMain {
    @include displayDFJAG(flex, column, center, center, 20px);
    background-color: $gray;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    // gap: 20px;
}

.headerContainer {
    @include displayDFJAG(flex, column, center, center, 5px);
    width: 100%;
    margin: 0;
    // gap: 5px;

    .headerLabel {
        text-align: center;
        color: $font-light-colour;
        margin: 0;
    }

    .highlight {
        color: $main-colour;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.butonContainter {
    @include displayDFJAG(flex, row, space-evenly, null);
    width: 100%;

    .cancelButton {
        @include displayDFJAG(flex, null, null, center);
        background-color: $red;
        color: $font-light-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-colour 0.3s ease;

        &:hover {
            background-color: $red-dark;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }

    .closeButton {
        @include displayDFJAG(flex, null, null, center);
        background-color: $main-colour;
        color: $font-dark-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $main-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }
}