@import '@/styles/main.scss';

.newPasswordConfirmationContainerMain {
    background-color: $gray;
    @include displayDFJA(flex, column, center, center);
    width: 100%;
    padding: 0px 40px;
    box-sizing: border-box;
}

.headerContainer {
    @include displayDFJA(flex, column, center, center);
    text-align: center;
    width: 100%;
    margin: 0;

    .headerParagraph {
        text-align: center;
        gap: 2px;
        color: $font-light-colour;
        margin: 0;
    }

    .highlight {
        color: $main-colour;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
        margin: 0 0 10px 0;
    }
}

.passwordContainter {
    @include displayDFJA(flex, column, center, center);
    width: 100%;
    margin: 0;

    .passwordParagraph {
        @include displayDFJA(flex, null, null, center);
        text-align: center;
        color: $font-light-colour;
        margin: 0;
    }

    .newPassword {
        color: $main-colour;
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .passwrodReminder {
        color: $font-light-colour;
        font-size: 14px;
        margin: 0 0 10px 0;
        text-decoration: underline;
        text-decoration-color: $main-colour;
    }
}

.buttonConianer {
    @include displayDFJA(flex, row, center, center);
    width: 100%;

    .closeButton {
        @include displayDFJA(flex, null, null, center);
        background-color: $main-colour;
        color: $font-dark-colour;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $main-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }
}