@import '@/styles/main.scss';

.messageInputContainer {
    // display: flex;
    // align-items: center;
    @include displayDFJA(flex, null, center, null);
    padding: 10px 20px;
    border-top: 1px solid  $gray-powder;

    .messageInput {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid $main-colour;
        border-radius: 10px;
        outline: none;
        margin: 0 10px 0 0;
    }

    .sendButton {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;

        .icon {
            color: $main-colour;
            width: 30px;
            height: 30px;
        }
    }
}