@import '@/styles/main.scss';

.modalOverlayDeleteEmployee , .modalOverlayNewPassword {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    @include displayDFJA(flex, null, center, center);
    z-index: 1000;
}

.modalContentOfDeleteEmployee, .modalContentOfNewPassword {
    @include displayDFJA(flex, column, null, null);
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;

    @include respond-to-md {
        width: 90%;
        max-height: 70vh;
    }
}

.employeeDataContainerMain {
    @include displayDFJA(flex, column, center, center);
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.rowButtonContainer {
    @include displayDFJA(flex, row, space-evenly, center);
    width: 90%;
    gap: 20px;

    @include respond-to-lg {
        @include displayDFJA(flex, column, null, null);

        .buttonContainer {
            width: 100%;
        }
    }

    .buttonContainer {
        @include displayDFJA(flex, row, space-evenly, center);
        flex: 1;
        padding: 20px;

        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 4px 8px $black-transparency-01;

        .statisticsButton,
        .absencesButton,
        .chatButton,
        .resetPasswordButton,
        .editButton,
        .deleteButton {
            @include displayDFJA(flex, null, null, center);
            background-color: $main-colour;
            color: $font-dark-colour;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            gap: 10px;

            &:hover {
                background-color: $main-colour-hover;
            }

            .buttonIcon {
                height: 26px;
                width: 26px;
                margin: 0;
            }

            .buttonParagraph {
                text-align: center;
                font-size: 20px;
                margin: 0;
            }
        }
    }
}

.fullNameAndIdContainer {
    @include displayDFJA(flex, row, center, stretch);
    width: 90%;
    gap: 20px;

    @include respond-to-lg {
        @include displayDFJA(flex, column, null, null);
        gap: 20px;

        .fullNameColumnContainer,
        .employeeIdContainer {
            width: 100%;
            gap: 20px;
        }
    }

    .fullNameColumnContainer {
        @include displayDFJA(flex, row, space-around, center);
        flex: 1;
        width: 100%;
        height: auto;

        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 4px 8px $black-transparency-01;

        .firstNameContainer,
        .surnameContainer {
            @include displayDFJA(flex, row, center, center);
            height: auto;
            gap: 10px;

            .firstNameParagraph {
                font-size: 20px;
                font-weight: bold;
                color: $font-dark-colour;
                display: inline-block;
                border-bottom: 2px solid $white;
            }

            .firstNameDataParagraph {
                font-size: 20px;
                color: $font-dark-colour;
                text-transform: capitalize;
                display: inline-block;
                border-bottom: 2px solid $main-colour;
            }

            .surnameParagraph {
                font-size: 20px;
                font-weight: bold;
                color: $font-dark-colour;
                display: inline-block;
                border-bottom: 2px solid $white;
            }

            .surnameDataParagraph {
                font-size: 20px;
                color: $font-dark-colour;
                text-transform: capitalize;
                display: inline-block;
                border-bottom: 2px solid $main-colour;
            }

        }
    }

    .employeeIdContainer {
        @include displayDFJA(flex, row, center, center);
        flex: 1;
        width: 100%;
        gap: 2%;
        height: auto;

        @include respond-to-lg {
            padding: 10px;
        }

        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 4px 8px $black-transparency-01;

        .idParagraph {
            font-size: 20px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 10px 0;
            display: inline-block;
            border-bottom: 2px solid $white;
            padding: 2px 0;

        }

        .idDataParagraph {
            font-size: 20px;
            margin: 10px 0;
            display: inline-block;
            border-bottom: 2px solid $main-colour;
            padding: 2px 0;

        }
    }
}

.emplyeeDataContainer {
    @include displayDFJA(flex, null, null, null);
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;

    @include respond-to-lg {
        @include displayDFJA(flex, column, null, null);

        .columnContainer {
            width: 100%;
        }
    }

    @include respond-to-md {
        @include displayDFJA(flex, column, null, null);
        gap: 10px;
    }
}

.columnContainer {
    @include displayDFJA(flex, column, null, null);
    flex: 1;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;


    .residenceLabel,
    .supervisorLabel,
    .phoneNumberLabel,
    .emailLabel,
    .startContractDateLables,
    .endContractDateLables,
    .contractTypeLabel,
    .departmentLabel {
        @include displayDFJA(flex, null, space-between, center);
        padding: 0 10px;
        color: $font-dark-colour;
        border-bottom: 2px solid $main-colour;

        .homeAdressParagraph,
        .supervisorParagraph,
        .phoneNumberParagraph,
        .emailParagraph,
        .startContractDateParagraph,
        .endContractDateParagraph,
        .contractTypeParagraph,
        .departmentParagraph {
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0;
        }
    }
}

.roleAndLanguagesContainer {
    @include displayDFJA(flex, row, space-evenly, center);
    gap: 20px;
    width: 90%;


    @include respond-to-lg {
        @include displayDFJA(flex, column, null, null);

        .columnContainer {
            width: 100%;
        }
    }

    @include respond-to-md {
        @include displayDFJA(flex, column, null, null);
        gap: 10px;
    }

    .columnContainer {
        @include displayDFJA(flex, column, center, center);
        max-height: 45vh;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 4px 8px $black-transparency-01;

        @include respond-to-md {
            margin: 10px;
            max-height: 60vh;
            padding: 10px;
        }

        .languageParagraph,
        .roleParagraph {
            font-size: 16px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 10px 0;
        }

        .roleContainer {
            @include gridQG(3, 20px);
            margin: 20px;
            width: 100%;
            overflow-y: auto;

            @include respond-to-lg {
                @include gridQG(3, 20px);
                height: fit-content;
            }

            @include respond-to-md {
                @include gridQG(2, 20px);
                height: fit-content;
            }

            @include respond-to-sm {
                @include gridQG(1, 20px);
            }

            .roleLabel {
                @include displayDFJA(flex, row, space-between, center);
                text-align: center;
                gap: 10px;
                background-color: $white-4;
                border-radius: 5px;
                box-shadow: 0px 2px 5px $black-transparency-01;
                border: 2px solid $main-colour;
                font-size: 16px;
                color: $font-dark-colour;
                width: 100%;
                padding: 10px;

                @include respond-to-md {
                    padding: 8px;
                    width: 100%;
                }

            }
        }

        .languagesContainer {
            @include gridQG(4, 20px);
            margin: 20px;
            width: 100%;
            overflow-y: auto;

            @include respond-to-lg {
                @include gridQG(3, 20px);
            }

            @include respond-to-md {
                @include gridQG(2, 20px);
            }

            @include respond-to-sm {
                @include gridQG(1, 20px);
            }

            .languageLabel {
                @include displayDFJA(flex, row, space-between, center);
                text-align: center;
                gap: 10px;
                background-color: $white-4;
                border-radius: 5px;
                box-shadow: 0px 2px 5px $black-transparency-01;
                font-size: 16px;
                color: $font-dark-colour;
                border: 2px solid $main-colour;
                width: 100%;
                padding: 10px;

                @include respond-to-md {
                    padding: 8px;
                }

                .languageFlag {
                    height: 20px;
                    width: 20px;
                    margin: 0 0 0 auto;
                }
            }
        }
    }
}
