@import '@/styles/main.scss';

.modalOverlayDeleteEmployee , .modalOverlayNewPassword {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include displayDFJA(flex, null, center, center);
    z-index: 1000;
}

.modalContentOfDeleteEmployee, .modalContentOfNewPassword {
    // display: flex;
    // flex-direction: column;
    @include displayDFJA(flex, column, null, null);
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;

    @include respond-to-md {
        width: 90%;
        max-height: 70vh;
    }
}

.employeeDataContainerMain {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    @include displayDFJA(flex, column, center, center);
    gap: 20px;
    width: 100%;
    margin: 20px 0;
}

.rowButtonContainer {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;
    @include displayDFJA(flex, row, space-evenly, center);
    width: 90%;
    gap: 20px;

    @mixin respond-to-lg {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);

        .buttonContainer {
            width: 100%;
        }
    }

    .buttonContainer {
        // display: flex;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-evenly;
        @include displayDFJA(flex, row, space-evenly, center);
        flex: 1;
        padding: 20px;

        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 4px 8px $black-transparency-01;

        .statisticsButton,
        .absencesButton,
        .chatButton,
        .resetPasswordButton,
        .editButton,
        .deleteButton {
            // display: flex;
            // align-items: center;
            @include displayDFJA(flex, null, null, center);
            background-color: $main-colour;
            color: $font-dark-colour;
            padding: 10px 20px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            gap: 10px;

            &:hover {
                background-color: $main-colour-hover;
            }

            .buttonIcon {
                height: 26px;
                width: 26px;
                margin: 0;
            }

            .buttonParagraph {
                text-align: center;
                font-size: 20px;
                margin: 0;
            }
        }
    }
}

.fullNameAndIdContainer {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: stretch;
    @include displayDFJA(flex, row, center, stretch);
    width: 90%;
    gap: 20px;

    @mixin respond-to-lg {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);
        gap: 20px;

        .fullNameColumnContainer,
        .employeeIdContainer {
            width: 100%;
            gap: 20px;
        }
    }

    .fullNameColumnContainer {
        // display: flex;
        // flex-direction: row;
        // justify-content: space-around;
        // align-items: center;
        @include displayDFJA(flex, row, space-around, center);
        flex: 1;
        width: 100%;
        height: auto;

        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 4px 8px $black-transparency-01;

        .firstNameContainer,
        .surnameContainer {
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            // align-items: center;
            @include displayDFJA(flex, row, center, center);
            height: auto;
            gap: 10px;

            .firstNameParagraph {
                font-size: 20px;
                font-weight: bold;
                color: $font-dark-colour;
                display: inline-block;
                border-bottom: 2px solid $white;
            }

            .firstNameDataParagraph {
                font-size: 20px;
                color: $font-dark-colour;
                text-transform: capitalize;
                display: inline-block;
                border-bottom: 2px solid $main-colour;
            }

            .surnameParagraph {
                font-size: 20px;
                font-weight: bold;
                color: $font-dark-colour;
                display: inline-block;
                border-bottom: 2px solid $white;
            }

            .surnameDataParagraph {
                font-size: 20px;
                color: $font-dark-colour;
                text-transform: capitalize;
                display: inline-block;
                border-bottom: 2px solid $main-colour;
            }

        }
    }

    .employeeIdContainer {
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        @include displayDFJA(flex, row, center, center);
        flex: 1;
        width: 100%;
        gap: 2%;
        height: auto;

        @mixin respond-to-lg {
            padding: 10px;
        }

        background-color: $white;
        border-radius: 10px;
        box-shadow: 0 4px 8px $black-transparency-01;

        .idParagraph {
            font-size: 20px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 10px 0;
            display: inline-block;
            border-bottom: 2px solid $white;
            padding: 2px 0;

        }

        .idDataParagraph {
            font-size: 20px;
            margin: 10px 0;
            display: inline-block;
            border-bottom: 2px solid $main-colour;
            padding: 2px 0;

        }
    }
}

.emplyeeDataContainer {
    // display: flex;
    @include displayDFJA(flex, null, null, null);
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;

    @mixin respond-to-lg {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);

        .columnContainer {
            width: 100%;
        }
    }

    @include respond-to-md {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);
        gap: 10px;
    }
}

.columnContainer {
    // display: flex;
    // flex-direction: column;
    @include displayDFJA(flex, column, null, null);
    flex: 1;
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;


    .residenceLabel,
    .supervisorLabel,
    .phoneNumberLabel,
    .emailLabel,
    .startContractDateLables,
    .endContractDateLables,
    .contractTypeLabel,
    .departmentLabel {
        // display: flex;
        // align-items: center;
        // justify-content: space-between;
        @include displayDFJA(flex, null, space-between, center);
        padding: 0 10px;
        color: $font-dark-colour;
        border-bottom: 2px solid $main-colour;

        .homeAdressParagraph,
        .supervisorParagraph,
        .phoneNumberParagraph,
        .emailParagraph,
        .startContractDateParagraph,
        .endContractDateParagraph,
        .contractTypeParagraph,
        .departmentParagraph {
            font-size: 16px;
            font-weight: bold;
            margin: 10px 0;
        }
    }
}

.roleAndLanguagesContainer {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-evenly;
    // align-items: center;
    @include displayDFJA(flex, row, space-evenly, center);
    gap: 20px;
    width: 90%;


    @mixin respond-to-lg {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);

        .columnContainer {
            width: 100%;
        }
    }

    @include respond-to-md {
        // flex-direction: column;
        @include displayDFJA(flex, column, null, null);
        gap: 10px;
    }

    .columnContainer {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        @include displayDFJA(flex, column, center, center);
        max-height: 45vh;
        border-radius: 10px;
        background-color: $white;
        box-shadow: 0 4px 8px $black-transparency-01;

        @include respond-to-md {
            margin: 10px;
            max-height: 60vh;
            padding: 10px;
        }

        .languageParagraph,
        .roleParagraph {
            font-size: 16px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 10px 0;
        }

        .roleContainer {
            // display: grid;
            // grid-template-columns: repeat(3, 1fr);
            // gap: 20px;
            @include gridQG(3, 20px);
            margin: 20px;
            width: 100%;
            overflow-y: auto;

            @mixin respond-to-lg {
                // grid-template-columns: repeat(3, 1fr);
                @include gridQG(3, 20px);
                height: fit-content;
            }

            @media (max-width: 825px) {
                // grid-template-columns: repeat(2, 1fr);
                @include gridQG(2, 20px);
                height: fit-content;
            }

            @media (max-width: 650px) {
                // grid-template-columns: repeat(2, 1fr);
                @include gridQG(2, 20px);
                height: fit-content;
            }

            @media (max-width: 350px) {
                // grid-template-columns: 1fr;
                @include gridQG(1, 20px);
            }

            .roleLabel {
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                // justify-content: space-between;
                @include displayDFJA(flex, row, space-between, center);
                text-align: center;
                gap: 10px;
                background-color: $white-4;
                border-radius: 5px;
                box-shadow: 0px 2px 5px $black-transparency-01;
                border: 2px solid $main-colour;
                font-size: 16px;
                color: $font-dark-colour;
                width: 100%;
                padding: 10px;

                @include respond-to-md {
                    padding: 8px;
                    width: 100%;
                }

            }
        }

        .languagesContainer {
            // display: grid;
            // grid-template-columns: repeat(4, 1fr);
            // gap: 20px;
            @include gridQG(4, 20px);
            margin: 20px;
            width: 100%;
            overflow-y: auto;

            @mixin respond-to-lg {
                // grid-template-columns: repeat(3, 1fr);
                @include gridQG(3, 20px);
            }

            @media (max-width: 825px) {
                // grid-template-columns: repeat(2, 1fr);
                @include gridQG(2, 20px);
            }

            @media (max-width: 650px) {
                // grid-template-columns: repeat(2, 1fr);
                @include gridQG(2, 20px);
            }

            @media (max-width: 350px) {
                // grid-template-columns: 1fr;
                @include gridQG(1, 20px);
            }

            .languageLabel {
                // display: flex;
                // flex-direction: row;
                // align-items: center;
                // justify-content: space-between;
                @include displayDFJA(flex, row, space-between, center);
                text-align: center;
                gap: 10px;
                background-color: $white-4;
                border-radius: 5px;
                box-shadow: 0px 2px 5px $black-transparency-01;
                font-size: 16px;
                color: $font-dark-colour;
                border: 2px solid $main-colour;
                width: 100%;
                padding: 10px;

                @include respond-to-md {
                    padding: 8px;
                }

                .languageFlag {
                    height: 20px;
                    width: 20px;
                    margin: 0 0 0 auto;
                }
            }
        }
    }
}

// .spinnerContainer {
//     // display: flex;
//     // flex-direction: column;
//     // justify-content: center;
//     // align-items: center;
//     @include displayDFJA(flex, column, center, center);
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 9999;
// }

// .loadingModalOverlay {
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: $black-transparency-05;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1000;

//     .loadingModalContent {
//         display: flex;
//         flex-direction: column;
//         text-align: center;

//         .spinnerContainer {
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             position: absolute;
//             top: 50%;
//             left: 50%;
//             transform: translate(-50%, -50%);
//             z-index: 9999;
//         }
//     }
// }