$popup-bg-colour: #4F4E4E;
$popup-font-colour-light: #FFFFFF;
$popup-font-colour-dark: #000000;
$popup-highlight-colour: #FFCF70;
$popup-highlight-colour-hover: #FFBE4D;
$popup-delete-button-colour: #dc3545;
$popup-detete-button-colour-hover: #c82333;
.archiveConfirmationContainerMain {
    display: flex;
    background-color: $popup-bg-colour;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 40px;
    box-sizing: border-box;
    gap: 20px;
}

.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    gap: 5px;

    .headerLabel {
        text-align: center;
        color: $popup-font-colour-light;
        margin: 0;
    }

    .highlight {
        color: $popup-highlight-colour;
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
    }
}

.butonContainter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .archiveButton {
        display: flex;
        align-items: center;
        background-color: $popup-delete-button-colour;
        color: $popup-font-colour-light;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-colour 0.3s ease;

        &:hover {
            background-color: $popup-detete-button-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }

    .closeButton {
        display: flex;
        align-items: center;
        background-color: $popup-highlight-colour;
        color: $popup-font-colour-dark;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $popup-highlight-colour-hover;
        }

        .buttonParagraph {
            text-align: center;
            margin: 0 0 0 10px;
            font-size: 16px;
        }

        .buttonIcon {
            height: 18px;
            width: 18px;
        }
    }
}