@import '@/styles/main.scss';

.absenceInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 5px;

  .abesenceData{
    text-transform: capitalize;
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
    text-decoration-color: $main-colour;
    color: $font-dark-colour;
  }
}