@import '@/styles/main.scss';

.calendarHeader {
  @include displayDFJAG(flex, row, center, center, 20px);
  padding: 10px;
  width: 100%;

  .dateRange {
    margin: 0;
    padding: 0;
    font-weight: bold;
    text-transform: capitalize;
    color: $font-dark-colour;
    border-bottom: 2px solid $main-colour;
  }
}