@import '@/styles/main.scss';

.label {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: left;
    color: $font-light-colour;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid $main-colour;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.errorInput {
    border-color: $red-dark;
}

.button {
    padding: 10px;
    margin-top: 10px;
    background-color: $main-colour;
    color: $font-dark-colour;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;

    &:hover {
        background-color: darken($main-colour, 10%);
    }
}


.error {
    color: $red;
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
}