@import '@/styles/abstracts/variables.scss';

.modalOverlayOfAdd, .modalOverlayOfDelete { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContentOfAdd, .modalContentOfDelete {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        width: 90%;
        max-height: 70vh;
    }
}

.contractTypesContainerMain {
    background-color: $gray;
    color: $font-light-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.showContractMapContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;

    .showContractContainerMain {
        display: flex;
        flex-direction: column;
        //align-items: center;
        height: 100%;
        padding: 10px;
        background-color: $white-3;
        border-radius: 5px;
        gap: 15px;

        .showContractContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 15px;

            .contractInfoContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding: 0;
                width: 100%;
                gap: 10px;

                .contractNameParagraph,
                .contractDaysParagraph {
                    display: flex;
                    align-items: left;
                    margin: 0;
                    color: $font-dark-colour;
                    font-weight: bold;
                    width: auto;
                }

                .contractNameInput {
                    padding: 5px;
                    border: 2px solid $font-dark-colour;
                    border-radius: 5px;
                    background-color: $white;
                    color: $font-dark-colour;
                    outline: none;
                    width: 8vw;
                    height: 5vh;
                }
            }

            .editAndRemoveButtonContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .contractDaysInput {
                    border: 2px solid $font-dark-colour;
                    border-radius: 4px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .showContractMapContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .showContractMapContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .showContractMapContainer {
        grid-template-columns: 1fr;
    }
}

.removeButton,
.editButton,
.yesButton,
.noButton {
    background-color: $main-colour;
    border: 2px solid $font-dark-colour;
    color: $font-dark-colour;
    padding: 5px 10px;
    border-radius: 5px;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $font-dark-colour;
        color: $main-colour;
    }
}

.yesButton:hover {
    background-color: $green;
    color: $font-dark-colour;
}

.noButton:hover {
    background-color: $red;
    color: $font-dark-colour;
}

.addContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 0;

    .addContractDaysInput {
        border: 2px solid $main-colour;
        border-radius: 4px;
    }

    .addInput {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid $main-colour;
        border-radius: 5px;
        background-color: $white;
        color: $font-dark-colour;
        outline: none;

        &::placeholder {
            color: $font-dark-colour;
        }
    }

    .addButton {
        background-color: $main-colour;
        border: none;
        color: $font-dark-colour;
        padding: 10px;
        width: 5vh;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $main-colour-hover;
        }
    }
}

.contractDaysInput,
.addContractDaysInput {
    -webkit-appearance: none; // Safari
    -moz-appearance: none; // Firefox
    appearance: none; //Standard
    height: 5vh;
    padding: 10px 3.5vh 10px 10px;
    background-image:
        linear-gradient(45deg, transparent 50%, $font-dark-colour 50%),
        linear-gradient(135deg, $font-dark-colour 50%, transparent 50%);
    background-position:
        calc(100% - 15px) calc(1em + 5px),
        calc(100% - 6px) calc(1em + 5px);
    background-size:
        9px 9px,
        9px 9px;
    background-repeat: no-repeat;
    color: $font-dark-colour;
    cursor: pointer;
}

.errorMessage {
    color: $red;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex-shrink: 0;
}

.formInput {
    -webkit-appearance: none; //Safari
    -moz-appearance: none; //Firefox
    appearance: none; //Standard
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid $main-colour;
    padding: 10px 5vh 10px 10px;
    color: $font-dark-colour;
    box-shadow: inset 0 2px 4px $black-transparency-01;
    transition: all 0.3s ease;

    &:hover {
        border: 2px solid $main-colour;
        outline: none;
        background-color: lighten($white-4, 5%);
    }

    &::placeholder {
        margin: 0 0 0 10px;
        color: lighten($font-dark-colour, 30%);
    }
}

.errorInput {
    border-color: $red;
    background-color: $red-powder;

    &.contractDaysInput,
    &.addContractDaysInput {
        border-color: $red;
        background-color: $red-powder;
    }
}

.absenceDaysInput{
    border: 2px solid $main-colour;
    border-radius: 8px;
    text-align: center;
    height: 5vh;
    width: 10vh;
}

.loadingModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .loadingModalContent {
        display: flex;
        flex-direction: column;
        text-align: center;

        .spinnerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
    }
}