$popup-bg: rgba(0, 0, 0, 0.5);
$popup-highlight-colour: #FFCF70;
$popup-bg-colour: #4F4E4E;

$contractTypes-bg-colour: #4F4E4E;
$contractTypes-bg-colour-dark: #000000;
$contractTypes-bg-colour-light: #FFFFFF;
$contractTypes-font-colour: #FFFFFF;
$contractTypes-font-colour-dark: #000000;
$contractTypes-tile-background-color: #f9f9f9;
$contractTypes-highlight-colour: #FFCF70;
$contractTypes-highlight-colour-hover: #FFBE4D;
$contractTypes-no-button-colour: #dc3545;
$contractTypes-yes-button-colour: #008000;
$contractTypes-box-shadow-colour: rgba(0, 0, 0, 0.1);
$contractTypes-checkbox-bg-colour: #e8e8e8;
$contractTypes-error-border-colour: #dc3545;
$contractTypes-error-bg-colour: #ffe6e6;

.modalOverlayOfAdd, .modalOverlayOfDelete { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $popup-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContentOfAdd, .modalContentOfDelete {
    display: flex;
    flex-direction: column;
    border: 2px solid $popup-highlight-colour;
    border-radius: 8px;
    background-color: $popup-bg-colour;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;

    @media (max-width: 768px) {
        width: 90%;
        max-height: 70vh;
    }
}

.contractTypesContainerMain {
    background-color: $contractTypes-bg-colour;
    color: $contractTypes-font-colour;
    padding: 20px 0 0 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15px;
}

.showContractMapContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    grid-auto-rows: 1fr;
    gap: 10px;

    .showContractContainerMain {
        display: flex;
        flex-direction: column;
        //align-items: center;
        height: 100%;
        padding: 10px;
        background-color: $contractTypes-tile-background-color;
        border-radius: 5px;
        gap: 15px;

        .showContractContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            gap: 15px;

            .contractInfoContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding: 0;
                width: 100%;
                gap: 10px;

                .contractNameParagraph,
                .contractDaysParagraph {
                    display: flex;
                    align-items: left;
                    margin: 0;
                    color: $contractTypes-font-colour-dark;
                    font-weight: bold;
                    width: auto;
                }

                .contractNameInput {
                    padding: 5px;
                    border: 2px solid $contractTypes-bg-colour-dark;
                    border-radius: 5px;
                    background-color: $contractTypes-bg-colour-light;
                    color: $contractTypes-font-colour-dark;
                    outline: none;
                    width: 8vw;
                    height: 5vh;
                }
            }

            .editAndRemoveButtonContainer {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .contractDaysInput {
                    border: 2px solid $contractTypes-bg-colour-dark;
                    border-radius: 4px;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .showContractMapContainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .showContractMapContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .showContractMapContainer {
        grid-template-columns: 1fr;
    }
}

.removeButton,
.editButton,
.yesButton,
.noButton {
    background-color: $contractTypes-highlight-colour;
    border: 2px solid $contractTypes-font-colour-dark;
    color: $contractTypes-font-colour-dark;
    padding: 5px 10px;
    border-radius: 5px;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: $contractTypes-font-colour-dark;
        color: $contractTypes-highlight-colour;
    }
}

.yesButton:hover {
    background-color: $contractTypes-yes-button-colour;
    color: $contractTypes-font-colour-dark;
}

.noButton:hover {
    background-color: $contractTypes-no-button-colour;
    color: $contractTypes-font-colour-dark;
}

.addContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0 0;

    .addContractDaysInput {
        border: 2px solid $contractTypes-highlight-colour;
        border-radius: 4px;
    }

    .addInput {
        flex-grow: 1;
        padding: 10px;
        border: 2px solid $contractTypes-highlight-colour;
        border-radius: 5px;
        background-color: $contractTypes-bg-colour-light;
        color: $contractTypes-font-colour-dark;
        outline: none;

        &::placeholder {
            color: $contractTypes-font-colour-dark;
        }
    }

    .addButton {
        background-color: $contractTypes-highlight-colour;
        border: none;
        color: $contractTypes-font-colour-dark;
        padding: 10px;
        width: 5vh;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $contractTypes-highlight-colour-hover;
        }
    }
}

.contractDaysInput,
.addContractDaysInput {
    -webkit-appearance: none; // Safari
    -moz-appearance: none; // Firefox
    appearance: none; //Standard
    height: 5vh;
    padding: 10px 3.5vh 10px 10px;
    background-image:
        linear-gradient(45deg, transparent 50%, $contractTypes-font-colour-dark 50%),
        linear-gradient(135deg, $contractTypes-font-colour-dark 50%, transparent 50%);
    background-position:
        calc(100% - 15px) calc(1em + 5px),
        calc(100% - 6px) calc(1em + 5px);
    background-size:
        9px 9px,
        9px 9px;
    background-repeat: no-repeat;
    color: $contractTypes-font-colour-dark;
    cursor: pointer;
}

.errorMessage {
    color: $contractTypes-error-border-colour;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    flex-shrink: 0;
}

.formInput {
    -webkit-appearance: none; //Safari
    -moz-appearance: none; //Firefox
    appearance: none; //Standard
    width: 100%;
    height: 5vh;
    border-radius: 5px;
    border: 2px solid $contractTypes-highlight-colour;
    padding: 10px 5vh 10px 10px;
    color: $contractTypes-font-colour-dark;
    box-shadow: inset 0 2px 4px $contractTypes-box-shadow-colour;
    transition: all 0.3s ease;

    &:hover {
        border: 2px solid $contractTypes-highlight-colour;
        outline: none;
        background-color: lighten($contractTypes-checkbox-bg-colour, 5%);
    }

    &::placeholder {
        margin: 0 0 0 10px;
        color: lighten($contractTypes-font-colour-dark, 30%);
    }
}

.errorInput {
    border-color: $contractTypes-error-border-colour;
    background-color: $contractTypes-error-bg-colour;

    &.contractDaysInput,
    &.addContractDaysInput {
        border-color: $contractTypes-error-border-colour;
        background-color: $contractTypes-error-bg-colour;
    }
}

.absenceDaysInput{
    border: 2px solid $contractTypes-highlight-colour;
    border-radius: 8px;
    text-align: center;
    height: 5vh;
    width: 10vh;
}