@import '@/styles/main.scss';

.absenceEmployeesContainerMain {
  @include displayDFJAG(flex, column, center, center, 40px) ;
  margin: 20px auto ;
  width: 70%;
}

.absenceHeaderContainer {
  @include displayDFJAG(flex, row, space-between, center);
  background-color: $gray;
  border: 2px solid $main-colour;
  border-radius: 10px;
  padding: 20px 40px;
  width: 100%;

  .title{
    font-size: 24px;
    font-weight: bold;
    color: $main-colour;
    text-transform: uppercase;
  }

  .subtitle{
    font-size: 16px;
    font-weight: bold;
    color: $font-light-colour;
    text-transform: uppercase;
    border-bottom: 2px solid $main-colour;
  }
}

.tableContainer {
  @include displayDFJAG(flex, column, null, null);
  align-self: center;
  background-color: $gray;
  border: 2px solid $main-colour;
  border-radius: 10px;
  padding: 40px;
  width: 100%;
}

.absenceTable {
  border-collapse: collapse;
  background-color: $gray;
}

.absenceThead {
  text-align: center;
  background-color: $main-colour;
  font-weight: bold;
  text-transform: uppercase;
}

.absenceTheadRowElement {
  border-bottom: 2px solid $main-colour;
}

.absenceTheadHeadElement {
  padding: 15px;
  font-size: 16px;
  color: $font-dark-colour;
}

.absenceDataBody {
  color: $font-dark-colour;
  text-align: center;
}

.absenceDataBodyRowElement {
  border-bottom: 2px solid $main-colour;
  transition: background-color 0.3s ease;
}

.absenceDataBodyRowElement:hover {
  background-color: $main-colour;
}

.absenceDataBodyHeadElement {
  padding: 15px;
  font-size: 14px;
  color: $font-light-colour;
  text-transform: capitalize;
}

.absenceDataBodyHeadElementButton{
  @include displayDFJAG(flex, null, center, center);
  text-align: center;
}

.afterElement::after {
  content: " dni";
}

.error{
  @include displayDFJAG(flex, null, center, center);
  color: $red;
  font-size: 14px;
  font-weight: bold;
}