@import '@/styles/main.scss';

// .addAbsencetModalOverlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: $black-transparency-05;
//   @include displayDFJA(flex, null, center, center);
//   z-index: 1000;
// }

// .addAbsenceModalContent {
//   @include displayDFJA(flex, column, null, null);
//   border: 2px solid $main-colour;
//   border-radius: 8px;
//   background-color: $gray;
//   text-align: center;
//   width: auto;
//   max-height: 80vh;
//   overflow-y: auto;
//   gap: 20px;
//   padding: 20px;
// }

.absenceEmployeesContainerMain {
  @include displayDFJA(flex, column, center, center);
  gap: 40px;
  margin: 20px auto ;
  width: 70%;
}

.absenceHeaderContainer {
  @include displayDFJA(flex, row, space-between, center);
  background-color: $gray;
  border: 2px solid $main-colour;
  border-radius: 10px;
  padding: 20px 40px;
  width: 100%;

  .title{
    font-size: 24px;
    font-weight: bold;
    color: $main-colour;
    text-transform: uppercase;

  }

  .subtitle{
    font-size: 16px;
    font-weight: bold;
    color: $font-light-colour;
    text-transform: uppercase;
    border-bottom: 2px solid $main-colour;
  }
}

.tableContainer {
  @include displayDFJA(flex, column, null, null);
  align-self: center;
  background-color: $gray;
  border: 2px solid $main-colour;
  border-radius: 10px;
  padding: 40px;
  width: 100%;
}

.absenceTable {
  border-collapse: collapse;
  background-color: $gray;

}

.absenceThead {
  text-align: center;
  background-color: $main-colour;
  font-weight: bold;
  text-transform: uppercase;
}

.absenceTheadRowElement {
  border-bottom: 2px solid $main-colour;
}

.absenceTheadHeadElement {
  padding: 15px;
  font-size: 16px;
  color: $font-dark-colour;
}

.absenceDataBody {
  color: $font-dark-colour;
  text-align: center;
}

.absenceDataBodyRowElement {
  border-bottom: 2px solid $main-colour;
  transition: background-color 0.3s ease;
}

.absenceDataBodyRowElement:hover {
  background-color: $main-colour;
}

.absenceDataBodyHeadElement {
  padding: 15px;
  font-size: 14px;
  color: $font-light-colour;
  text-transform: capitalize;
}

.absenceDataBodyHeadElementButton{
  text-align: center;
  @include displayDFJA(flex, null, center, center);
}

.afterElement::after {
  content: " dni";
}

.archiveButton,
.cancelButton,
.newAbsenceButton {
  @include displayDFJA(flex, row, center, center);
  padding: 10px;
  background-color: $white;
  color: $font-dark-colour;
  border: 2px solid $main-colour;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.archiveButton:hover,
.cancelButton:hover,
.newAbsenceButton:hover {
  background-color: $main-colour-hover;
  color: $font-light-colour;
  border-color: $main-colour-hover;
}

.error{
  color: $red;
  font-size: 14px;
  font-weight: bold;
  @include displayDFJA(flex, null, center, center);
}
