$popup-bg: rgba(0, 0, 0, 0.5);
$popup-bg-colour: #4F4E4E;
$popup-highlight-colour: #FFCF70;

.addAbsencetModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $popup-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .addAbsenceModalContent {
    display: flex;
    flex-direction: column;
    border: 2px solid $popup-highlight-colour;
    border-radius: 8px;
    background-color: $popup-bg-colour;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
  }