@import '@/styles/main.scss';

.popupHeader {
    @include displayDFJAG(flex, row, space-between, center);
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.notificationLabel {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.infoButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: $main-colour;
}

.backButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: $main-colour;

    &:hover {
        color: $red;
    }
}

.icon {
    height: 18px;
    width: 18px;
}

.notificationsPopup {
    display: flex;
    flex-direction: column;
    max-height: 80vh;

    .popupHeader {
        position: sticky;
        @include displayDFJAG(flex, row, space-between, center);
        padding: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .notificationsList {
        flex: 1;
        overflow-y: auto;
        padding: 10px;

        .notificationItem {
            @include displayDFJAG(flex, column, center, center);
            text-align: center;
            background-color: $white-3;
            border: 2px solid $main-colour;
            border-radius: 5px;
            padding: 15px;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;

            .titleContainer {
                @include displayDFJAG(flex, row, space-between, center);
                width: 100%;

                .title {
                    @include displayDFJAG(block, null, null, null);
                    font-size: 16px;
                    margin-bottom: 5px;
                    color: $font-dark-colour;
                    font-weight: bold;
                }
            }

            small {
                font-size: 12px;
                color: $gray;
            }

            .messagesParagraph {
                margin: 5px 0;
                font-size: 14px;
                color: $font-dark-colour;
                width: 80%;
            }
        }

        .unread {
            background-color: $main-powder-colour;
            border-left: 5px solid $main-colour;
        }
    }
}