@import '@/styles/main.scss';

.popupHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.notificationLabel {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.backButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: $main-colour;
}

.icon {
    height: 18px;
    width: 18px;
}

.notificationItem {
    background-color: $white-3;
    border: 2px solid $main-colour;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notificationItem:hover {
    background-color: $white-2;
}

.unread {
    background-color: $main-powder-colour;
    border: none;
    border-left: 5px solid $main-colour;
}

.notificationItem strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: $font-dark-colour;
}

.notificationItem p {
    margin: 5px 0;
    font-size: 14px;
    color: $font-dark-colour;
}

.notificationItem small {
    font-size: 12px;
    color: $gray;
}