@import '@/styles/main.scss';

.navbar {
    background-color: $gray-powder;
    padding: 10px;
}

.navList {
    @include displayDFJA(flex, null, left, center);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navItem {
    color: $font-light-colour;
    padding: 10px;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: $main-colour;
    }
}

.active {
    color: $main-colour;
    font-weight: bold;
    border-bottom: 2px solid $main-colour;
}