$breakpoint-md: 768px;
@mixin respond-to-md {
  @media (max-width: $breakpoint-md) {
    @content;
  }
}

.scheduleEmployee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;

  @include respond-to-md {
    width: 98%;
  }
}