@import '@/styles/main.scss';

.scheduleEmployee {
  @include displayDFJAG(flex, column, center, center, 20px);
  width: 90%;
  // gap: 20px;
  padding: 20px;
  margin: 0 auto;

  @include respond-to-md {
    width: 98%;
  }
}