@import '@/styles/main.scss';

.absenceCardContainerMain {
    background-color: $white;
    border: 2px solid $main-colour;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;
    padding: 0 20px;
    @include displayDFJAG(flex, column, null, null, 20px);
}

.headerCardContainer {
    @include displayDFJAG(flex, null, space-between, center);
    border-bottom: 2px solid $main-colour;

    .absenceTypeNameParagraph {
        font-size: 20px;
        font-weight: bold;
        color: $font-dark-colour;
        text-transform: uppercase;
    }

    .subbmisionDateParagraph {
        font-size: 18px;
        color: $font-dark-colour;
    }
}

.absenceDataContainer {
    @include displayDFJAG(flex, row, null, null, 20px);
    margin: 0 0 10px 0;

    .columnContainer {
        @include displayDFJAG(flex, column, null, null);
        flex: 1;

        .idLabel,
        .firstnameLabel,
        .surnameLabel,
        .remainingDaysLabel,
        .startDateLabel,
        .endDateLabel,
        .quantityDaysLabel,
        .statusNameLabel {
            @include displayDFJAG(flex, row, space-between, center, 5px);
        }

        .idParagraph,
        .firstnameParagraph,
        .surnameParagraph,
        .remainingDaysParagraph,
        .startDateParagraph,
        .endDateParagraph,
        .quantityDaysParagraph,
        .statusNameParagraph {
            font-size: 16px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 0;
        }

        .idDataParagraph,
        .firstnameDataParagraph,
        .surnameDataParagraph,
        .remainingDaysDataParagraph,
        .startDateDataParagraph,
        .endDateDataParagraph,
        .quantityDaysDataParagraph,
        .statusNameDataParagraph {
            font-size: 16px;
            color: $font-dark-colour;
            text-transform: capitalize;
            margin: 0;
        }
    }
}

.buttonContainer {
    @include displayDFJAG(flex, null, center, null, 20px);
    margin: 0 0 10px 0;

    .acceptButton,
    .declineButton {
        @include displayDFJAG(flex, null, null, center, 5px);
        padding: 10px 20px;
        font-size: 16px;
        color: $font-light-colour;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .acceptButton {
        background-color: $green;

        &:hover {
            background-color: $green-hover;
        }
    }

    .declineButton {
        background-color: $red;

        &:hover {
            background-color: $red-dark;
        }
    }

    .buttonIcon {
        font-size: 14px;
    }

    .buttonParagraph {
        margin: 0;
    }
}