@import '@/styles/abstracts/main.scss';

.cancelAbsenceModalOverlay,
.aproveAbsenceModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.cancelAbsenceModalContent,
.aproveAbsenceModalContent {
    display: flex;
    flex-direction: column;
    border: 2px solid $main-colour;
    border-radius: 8px;
    background-color: $gray;
    text-align: center;
    width: auto;
    max-height: 80vh;
    overflow-y: auto;
    gap: 20px;
    padding: 20px;
}

.absenceCardContainerMain {
    background-color: $white;
    border: 2px solid $main-colour;
    border-radius: 10px;
    box-shadow: 0 4px 8px $black-transparency-01;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headerCardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $main-colour;

    .absenceTypeNameParagraph {
        font-size: 20px;
        font-weight: bold;
        color: $font-dark-colour;
        text-transform: uppercase;
    }

    .subbmisionDateParagraph {
        font-size: 18px;
        color: $font-dark-colour;
    }
}

.absenceDataContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0 0 10px 0;

    .columnContainer {
        display: flex;
        flex-direction: column;
        flex: 1;

        .idLabel,
        .firstnameLabel,
        .surnameLabel,
        .remainingDaysLabel,
        .startDateLabel,
        .endDateLabel,
        .quantityDaysLabel,
        .statusNameLabel {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
        }

        .idParagraph,
        .firstnameParagraph,
        .surnameParagraph,
        .remainingDaysParagraph,
        .startDateParagraph,
        .endDateParagraph,
        .quantityDaysParagraph,
        .statusNameParagraph {
            font-size: 16px;
            font-weight: bold;
            color: $font-dark-colour;
            margin: 0;
        }

        .idDataParagraph,
        .firstnameDataParagraph,
        .surnameDataParagraph,
        .remainingDaysDataParagraph,
        .startDateDataParagraph,
        .endDateDataParagraph,
        .quantityDaysDataParagraph,
        .statusNameDataParagraph {
            font-size: 16px;
            color: $font-dark-colour;
            text-transform: capitalize;
            margin: 0;
        }
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0 0 10px 0;

    .acceptButton,
    .declineButton {
        padding: 10px 20px;
        font-size: 16px;
        color: $font-light-colour;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .acceptButton {
        background-color: $green;

        &:hover {
            background-color: $green-hover;
        }
    }

    .declineButton {
        background-color: $red;

        &:hover {
            background-color: $red-dark;
        }
    }

    .buttonIcon {
        font-size: 14px;
    }

    .buttonParagraph {
        margin: 0;
    }
}

.loadingModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $black-transparency-05;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .loadingModalContent {
        display: flex;
        flex-direction: column;
        text-align: center;

        .spinnerContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
        }
    }
}