.calendarHeaderContainerMain{
    display: flex;
    flex-direction: row;

    .nameContainer{
        flex:1;
    }

    .calendarDayContainer{
        flex:7;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
}



